<div class="content_block advantages_container">
    
        <div class="advantages_wrapper">
    
          <div class="advantages_title">
      
            <h2 class="_index_subtitle">{{title}}</h2>
      
            <p>
              Обеспечиваем индивидуальный подход к каждому пациенту наших клиник и проводим лечение по самым современным технологиям.
            </p>
      
          </div>
      
          <div class="advantages_content">
      
            <div class="advantages_item interdoc">
              <p>Междисциплинарный подход в&nbsp;лечении</p>
            </div>
            
            <div class="advantages_item insurance">
              <p>Сотрудничество со всеми страховыми компаниями Москвы</p>
            </div>
      
            <div class="advantages_item guarantee">
              <p>Пожизненная гарантия на&nbsp;имплантаты</p>
            </div>
      
            <div class="advantages_item loyalty">
              <p>Программа лояльности пациентов</p>
            </div>
      
            <div class="advantages_item sleep">
              <p>Лечение во сне</p>
            </div>
      
            <div class="advantages_item location">
              <p>Удобные локации<br> <span>в шаговой доступности от метро</span></p>
            </div>
            
          </div>
      
          <div class="advantages_img_wrapper">
            <a class="_menu_link" href="/lizcenz/">
      
              <div class="advantages_img"></div>
              <p class="advantages_text">Сертификаты и лицензии</p>
              
            </a>
          </div>
    
        </div>
    
      </div>