{% if pageType == 'listing' %}

  {% for doctor in doctors %}
    
    <div class="doctor_item_wrapper swiper-slide" >       

      {{this.render('/components/doctor_card.twig', {'doctor': doctor}) | raw}}

    </div>

  {% endfor %} 

{% elseif pageType == 'medSpec' %}

  {% for item in allData %}
    
    <div class="doctor_item_wrapper swiper-slide" >       

      {{this.render('/components/doctor_card.twig', {'doctor': item.doctors[0]}) | raw}}

    </div>

  {% endfor %} 

{% endif %}