<form action="">

  <h2>Задайте вопрос</h2>

  <p>Оставьте свой вопрос, а мы перенаправим его компетентному специалисту</p>

  <div class="form_fields_wrapper">

    <label class="inut_wrapper">
      <input type="text" name="name" placeholder="&nbsp;">
      <span>Как вас зовут</span>
    </label>

    <label class="inut_wrapper">
      <input type="text" name="email" placeholder="&nbsp;">
      <span>Эл. почта (не будет опубликована)</span>
    </label>

    <label class="inut_wrapper">
      <input type="text" name="phone" placeholder="&nbsp;">
      <span>Номер телефона</span>
    </label>

    <textarea name="question"></textarea>

  </div>

  <div class="submit_wrapper">

    <button class="_button">Отправить</button>

    <p>
      Нажимая кнопку «Отправить», я даю согласие на 
      обработку моих персональных данных 
      в&nbsp;соответствии c <a class="_link_no_borders" href="/agreement/">Политикой 
      конфиденциальности</a>
    </p>

  </div>

</form>

<div class="faq_form_successful_send _hidden">

  <h2>Вопрос успешно отправлен</h2>

  <p>Елена, мы передадим ваш вопрос специалисту и дадим на&nbsp;него ответ в&nbsp;ближайшее время.</p>

  <div class="close_icon_mobile">
    <span>Закрыть</span>
  </div>

</div>