<form action="/form/faq/" data-type="faq">

  <input type="hidden" name="_csrf-frontend" value="{{csrf}}" />

  <h2>Задайте вопрос</h2>

  <p>Оставьте свой вопрос, а мы перенаправим его компетентному специалисту</p>

  <div class="form_fields_wrapper">

    <label class="input_wrapper">
      <input type="text" name="name" placeholder="&nbsp;" data-required>
      <span>Как вас зовут</span>
    </label>

    <label class="input_wrapper">
      <input type="text" name="email" placeholder="&nbsp;" data-required>
      <span>Эл. почта (не будет опубликована)</span>
    </label>

    <label class="input_wrapper">
      <input type="text" name="phone" placeholder="&nbsp;" data-required>
      <span>Номер телефона</span>
    </label>

    <label class="input_wrapper textarea_wrapper">
      <textarea name="question" data-required></textarea>
    </label>

  </div>

  <div class="submit_wrapper">

    <button class="_button" type="submit">Отправить</button>

    <p>
      Нажимая кнопку «Отправить», я даю согласие на 
      обработку моих персональных данных 
      в&nbsp;соответствии c <a class="_link_no_borders" href="/agreement/">Политикой 
      конфиденциальности</a>
    </p>

  </div>

</form>

<div class="faq_form_successful_send {{ in_content_block }} _hidden" data-success>

  <h2>Вопрос успешно отправлен</h2>

  <p><span data-success-name></span>, мы передадим ваш вопрос специалисту и дадим на&nbsp;него ответ в&nbsp;ближайшее время.</p>

  <div class="close_icon_mobile">
    <span>Закрыть</span>
  </div>

</div>