<div class="content_block instagram_cotnainer" data-type="instagram_block">

    <div class="instagram_title">
      <h2 class="_index_subtitle">Мы в Instagram</h2>
    </div>

    <div class="swiper-container instagram_gallery">

      <div class="swiper-wrapper">

        <div class="swiper-slide instagram_item">
          <img src="/img/instagram/photo1.png" alt="">
        </div>
        <div class="swiper-slide instagram_item">
          <img src="/img/instagram/photo2.png" alt="">
        </div>
        <div class="swiper-slide instagram_item">
          <img src="/img/instagram/photo3.png" alt="">
        </div>
        <div class="swiper-slide instagram_item">
          <img src="/img/instagram/photo4.png" alt="">
        </div>
        <div class="swiper-slide instagram_item">
          <img src="/img/instagram/photo5.png" alt="">
        </div>
        <div class="swiper-slide instagram_item">
          <img src="/img/instagram/photo6.png" alt="">
        </div>
        <div class="swiper-slide instagram_item">
          <img src="/img/instagram/photo7.png" alt="">
        </div>
        <div class="swiper-slide instagram_item">
          <a href="https://www.instagram.com/impl.ru/"><div class="instagram_link"></div></a>
        </div>

      </div>

      <div class="swiper-pagination revolver_pagination"></div>

      <div class="revolver_navigation_wrapper _hidden">
        <div class="swiper-button-prev revolver_navigation"></div>
        <div class="swiper-button-next revolver_navigation"></div>
      </div>
      
    </div>

  </div>