<div class="swiper-container ratings_container" data-type="ratings">

  <div class="swiper-wrapper">

    <div class="swiper-slide rating_item_wrapper ">
  
      <div class="logo_img"></div>
  
      <p>Рейтинг</p>
  
      <div class="rating_value_wrapper">
  
        <div class="stars"></div>
  
        <div class="rating_value">4,8 из 5</div>
  
      </div>
  
    </div>
  
    <div class="rating_item_wrapper swiper-slide">
  
      <div class="logo_img"></div>
  
      <p>Рейтинг</p>
  
      <div class="rating_value_wrapper">
  
        <div class="stars"></div>
  
        <div class="rating_value">4,8 из 5</div>
  
      </div>
  
    </div>
  
    <div class="rating_item_wrapper swiper-slide">
  
      <div class="logo_img"></div>
  
      <p>Рейтинг</p>
  
      <div class="rating_value_wrapper">
  
        <div class="stars"></div>
  
        <div class="rating_value">4,8 из 5</div>
  
      </div>
  
    </div>
  
    <div class="rating_item_wrapper swiper-slide">
  
      <div class="logo_img"></div>
  
      <p>Рейтинг</p>
  
      <div class="rating_value_wrapper">
  
        <div class="stars"></div>
  
        <div class="rating_value">4,8 из 5</div>
  
      </div>
  
    </div>
  
    <div class="rating_item_wrapper swiper-slide">
  
      <div class="logo_img"></div>
  
      <p>Рейтинг</p>
  
      <div class="rating_value_wrapper">
  
        <div class="stars"></div>
  
        <div class="rating_value">4,8 из 5</div>
  
      </div>
  
    </div>

    <div class="rating_item_wrapper swiper-slide">
  
      <div class="logo_img"></div>
  
      <p>Рейтинг</p>
  
      <div class="rating_value_wrapper">
  
        <div class="stars"></div>
  
        <div class="rating_value">4,8 из 5</div>
  
      </div>
  
    </div>

  </div>

  <div class="revolver_navigation_wrapper">

    <div class="swiper-button-prev revolver_navigation"></div>
    {# <div class="swiper-pagination revolver_pagination"></div> #}
    <div class="swiper-button-next revolver_navigation"></div>

  </div>

</div>