<form action="">

  <h2>Бесплатная консультация</h2>

  <p>
    Задайте вопросы по телефону +7&nbsp;(495)&nbsp;150-27-16 или
    оставьте заявку, мы перезвоним в&nbsp;течение рабочего 
    дня.
  </p>

  <div class="form_fields_wrapper">

    <label class="inut_wrapper">
        <input type="text" name="name" placeholder="&nbsp;">
        <span>Как вас зовут</span>
    </label>

    <label class="inut_wrapper">
      <input type="text" name="name" placeholder="&nbsp;">
      <span>Номер телефона</span>
    </label>

  </div>

  <div class="submit_wrapper">

    <button class="_button">Записаться</button>

    <p>
      Нажимая кнопку «Отправить», я даю согласие на 
      обработку моих персональных данных 
      в&nbsp;соответствии c <a class="_link_no_borders" href="/agreement/">Политикой 
      конфиденциальности</a>
    </p>

  </div>

</form>