<form action="">

  <div class="close_icon"></div>

  <h2>Оставьте свой отзыв</h2>

  <p>Мы ежедневно улучшаем качество нашей работы, и ваше мнение очень важно. Расскажите, что вы думаете о нас.</p>

  <div class="form_fields_wrapper">

    <label class="inut_wrapper">
      <input type="text" name="name" placeholder="&nbsp;">
      <span>Ваше имя</span>
    </label>

    <label class="inut_wrapper">
      <input type="text" name="age" placeholder="&nbsp;">
      <span>Возраст</span>
    </label>

    <textarea name="review"></textarea>

  </div>

  <div class="submit_wrapper">

    <button class="_button">Отправить</button>

    <p>
      Нажимая кнопку «Отправить», я даю согласие на 
      обработку моих персональных данных 
      в&nbsp;соответствии c <a class="_menu_link" href="/agreement/">Политикой 
      конфиденциальности</a>
    </p>

  </div>

  <div class="close_icon_mobile">
    <span>Закрыть</span>
  </div>

</form>