<form action="/form/review/" data-type="review">

  <input type="hidden" name="_csrf-frontend" value="{{csrf}}" />

  <div class="close_icon"></div>

  <h2>Оставьте свой отзыв</h2>

  <p>Мы ежедневно улучшаем качество нашей работы, и ваше мнение очень важно. Расскажите, что вы думаете о нас.</p>

  <div class="form_fields_wrapper">

    <label class="input_wrapper">
      <input type="text" name="name" placeholder="&nbsp;" data-required>
      <span>Ваше имя</span>
    </label>

    <label class="input_wrapper">
      <input type="text" name="age" placeholder="&nbsp;" data-required>
      <span>Возраст</span>
    </label>

    <label class="input_wrapper textarea_wrapper">
      <textarea name="review" data-required></textarea>
    </label>

  </div>

  <div class="submit_wrapper">

    <button class="_button" type="submit">Отправить</button>

    <p>
      Нажимая кнопку «Отправить», я даю согласие на 
      обработку моих персональных данных 
      в&nbsp;соответствии c <a class="_menu_link" href="/agreement/">Политикой 
      конфиденциальности</a>
    </p>

  </div>

  <div class="close_icon_mobile">
    <span>Закрыть</span>
  </div>

</form>

 <div class="review_form_successful_send {{in_content_block}} _hidden" data-success>

    <div class="close_icon"></div>

    <h3>Отзыв успешно отправлен</h3>

    <p><span data-success-name></span>, спасибо, что уделили время. Ваш отзыв появится на сайте после проверки модератором.</p>

    <div class="close_icon_mobile">
      <span>Закрыть</span>
    </div>

  </div>