  <div class="content_block faq_container" itemscope itemtype="https://schema.org/FAQPage" data-type="faq">

    <a name="{{paragraph.alias}}"></a>

    <h2 itemprop="name">{{ text_header }}</h2>
    
    {{this.render('/components/faq.twig', {'faq': currentService.faq}) | raw}}
    
  </div>