<div class="content_block checkup_container">
    
    <h4>Статью проверил эксперт</h4>

    <div class="auditor_wrapper">

      <div class="auditor_image"></div>

      <p>
        <span class="auditor_name">Климович Виктория&nbsp;Борисовна</span><br>
        <span>Квалифицированный специалист в области ортодонтии, челюстно-лицевой хирургии и эстетической реставрации зубов, опыт&nbsp;работы&nbsp;-&nbsp;11&nbsp;лет</span>
      </p>
    </div>

  </div>