<div data-page-type="article_listing">

  <div class="content_block title_container">
    
    <div class="title_wrapper">

      <ul class="breadcrumbs_wrapper" itemscope itemtype="https://schema.org/BreadcrumbList">

        <li class="breadcrumbs_item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a class="_menu_link_no_borders" href="/" itemtype="https://schema.org/Thing" itemprop="item">
           <span class="item_name" itemprop="name">Центр Стоматологической Имплантологии</span><span class="breadcrumb_arrow"> → </span>
          </a>
          <meta itemprop="position" content="1" />
        </li>

        {# <li class="breadcrumbs_item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a class="_menu_link_no_borders" href="/articles/" itemtype="https://schema.org/Thing" itemprop="item">
           <span class="item_name" itemprop="name">Статьи</span>
          </a>
          <meta itemprop="position" content="2" />
        </li> #}

      </ul>

      <div class="top_img"></div>

      <h1>Статьи</h1>

    </div>

  </div>

  <div class="content_block article_listing_container">

    <div class="listing_wrapper">

      {{items | raw}}

    </div>

  </div>

</div>