[data-page-type="clinic_contacts"]{

  .content_block.title_container{
    width: 100%;
    padding: 24px 0 0 0;
    background: url(/img/wave_bg.svg);
    background-size: 420px;
  }
  
  .breadcrumbs_wrapper{
    display: flex;
    justify-content: center;

    .breadcrumbs{
      margin: 0 4px 0 0;
    }
  }
 
  h1{
    padding: 16px 0 32px 0;
    text-align: center;
  }

  .content_block.clinic_info_container{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background: url(/img/wave_bg.svg);
    background-size: 420px;
  }

  .clinic_info_wrapper{
    width: 1224px;
  }

  .clinic_address{

    a{
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.02em;
    }
  }

  .rating_map_block{
    width: 100%;
    padding: 24px 0 0 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    .revolver_navigation_wrapper{
     display: none;
    }
  }

  .rating_title{
    display: none;
  }

  .clinic_map{
    width: 100%;
    height: 480px;
    padding: 48px 0 0 0;
  }

  .content_block.doctors_container{
    width: 100%;
    padding: 48px 0 0 0;

    h2{
      padding: 0 0 32px 0;
      text-align: center;
      color: $headerBlack;
    }
  }

  .doctors_wrapper{
    padding: 0 24px 0 24px;

    .swiper-wrapper{
      padding: 4px 0 32px 0;
    } 
  }

  .swiper-slide.doctor_item_wrapper{
    flex-shrink: 1;
  }

  .content_block.doctor_reviews{
    width: 100%;
  }

  .content_block.doctor_reviews{
    
    .review_text._compact {
      height: 200px;
  }
  }

  @include for-notdesc{

    .content_block.title_container{
      padding: 24px 16px 0 16px;
    }

    h1{
      padding: 8px 0 24px 0;
    }
    
    div.clinic_gallery.swiper-container{
      display: flex;
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      
      img{
        width: 100%;
      }
    }
    
    .clinic_info_wrapper{
      padding: 0 16px 0 16px;
      flex-flow: row wrap;
    }

    div.button_container{
      width: auto;
    }

    div.additional_info{
      width: 50%;
      padding: 0 0 0 32px;
      flex-grow: 1;
      align-self: center;

      p:before{
        top: 0;
      }
    }

    .rating_map_block{
  
      .revolver_navigation_wrapper{
       display: flex;
      }

      .swiper-wrapper{
        padding: 0 0 24px;
      }
    }

    .rating_title{
      display: block;
      width: 100%;
      text-align: center;
      color: $headerBlack;
    }

    .ratings_container{
      width: 100%;
      padding: 0 16px 0 16px;
    }
  }

  @include for-pad{

    .clinic_info_wrapper{
      width: 768px;
    }

    .rating_title{
      padding: 16px 0 24px 0;
    }

    .clinic_map{
      height: 400px;
      padding: 40px 0 0 0;
    }
    
    .content_block.doctors_container{
      padding: 40px 0 40px 0;

      h2{
        padding: 0 0 24px 0;
      }
    }

    .doctors_wrapper{
      padding: 0 16px 0 16px;
  
      .swiper-wrapper{
        padding: 0 0 24px 0;
      } 
    }
  }

  @include for-mobile{

    .clinic_info_wrapper{
      width: 100%;
      flex-flow: column nowrap;
    }
    
    .breadcrumbs_wrapper{
      flex-wrap: wrap;
    }

    span.breadcrumbs:last-of-type{
      padding: 4px 0 0 0;
    }

    .clinic_main_info_wrapper{
      padding: 16px 0 0 0;
    }

    div.button_container{
      width: 100%;
      padding: 0 0 16px 0;
    }

    div.additional_info{
      width: 100%;
    }

    .rating_title{
      padding: 8px 0 20px 0;
    }

    .content_block.doctors_container{
      padding: 32px 0 0 0;

      h2{
        padding: 0 16px 16px 16px;
      }
    }

    .doctors_wrapper{
      padding: 0 16px 0 16px;
    }

    .content_block.doctor_reviews{
      padding: 32px 16px 40px 16px;
    }
  }
}