[data-page-type='specialists']{

  .content_block.title_wrapper{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 24px 0 0 0;

    p{
      padding: 24px 104px 0 104px;
      line-height: 26px;
      letter-spacing: 0.01em;
    }
  }

  h1{
    padding: 16px 0 0 0;
  }

  .read_more{
    display: none;
  }

  .content_block.clinics_cotnainer{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 0 0 32px 0;
  }

  ._index_subtitle{
    text-align: center;
    color: $headerBlack;
  }

  .clinics_title{
    padding: 24px 0 0 0;
  }

  .cities{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 16px 0 0 0;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: $headerBlack;

    div:first-of-type{
      margin: 0 24px 0 0;
    }
  }
  
  .city{
    cursor: pointer;
    border-bottom: 1px dashed rgba(120, 47, 64, 0.4);
  }
  
  .city:hover{
    color: #C73F36;
    border-bottom: 1px dashed #C73F36;
  }

  .cities ._active{
    border-bottom: none;
    font-weight: 500;
    line-height: 24px;
  }

  .moscow_clinics{
    overflow: visible;

    & > .swiper-wrapper{
      padding: 24px 0 16px 0;
    }
    
    .revolver_navigation_wrapper,
    .revolver_pagination{
      display: none;
    }
  }

  .geneva_clinics{
    padding: 24px 0 16px 0;
    overflow: visible;
  }

  .clinic_address{
    color: $textColor;
  }

  .clinic_card_wrapper{
    cursor: pointer;
    width: 288px;
    height: 180px;
    // margin: 0 24px 0 0;
    padding: 24px 24px 24px 24px;
    background: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(15, 4, 61, 0.1);
    border-radius: 8px;
  }

  .clinic_card_wrapper:hover{
    box-shadow: 0px 15px 25px 10px rgba(15, 4, 61, 0.1);
    transform: translateY(-4px);
  }

  .clinic_title{
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: $headerBlack;
  }

  .clinic_address{
    padding: 4px 0 0 0;
  }

  .clinic_address,
  .clinic_phone{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.02em;
  }

  .clinic_phone{
    display: block;
    margin: 4px 0 0 0;
  }

  .metro{
    position: relative;
    padding: 0 0 0 10px;

    &:before{
      content: "";
      position: absolute;
      top: 8px;
      left: 0;
      width: 4px;
      height: 4px;
      background: red;
      border-radius: 2px;
    }
  }

  .metro._no_dot{
    &:before{
      content: none;
    }
  }

  .content_block.doctors_container{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 0 0 48px 0;

  }

  .medical_specialties_selector{
    display: none;
  }

  .doctors_wrapper{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 100%;
    padding: 16px 0 0 0;
  }

  .doctor_item_wrapper{
    width: auto;
    margin: 0 24px 24px 0;
  }

  .doctor_item_wrapper:nth-of-type(4n){
    margin: 0 0 24px 0;
  }

  ._button._button_light.more_doctors{
    margin: 16px 0 0 0;
    padding:  18px 63px 18px 63px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.02em;
  }

  @include for-notdesc{

    .content_block.title_wrapper{

      p{
        padding: 24px 16px 0 16px;

      }
    }

    h1{
      padding: 8px 0 0 0;
    }

    .content_block.clinics_cotnainer{
      padding: 0 16px 24px 16px;
    }

    .moscow_clinics{

      .swiper_wrapper{
        padding: 24px 0 16px 0;
      }

      .revolver_navigation_wrapper{
        display: flex;
      }

      .revolver_pagination{
        display: block;
      }
    }

    .geneva_clinics{
      padding: 24px 0 32px 0;
    }
  }

  @include for-pad{

    .content_block.title_wrapper{
      width: 768px;
    }

    .content_block.clinics_cotnainer{
      width: 100%;
      overflow: hidden;
      
    }
    
    .moscow_clinics{
      width: 100%;
    }

    .cities{
      padding: 14px 0 0 0;
    }

    .content_block.doctors_container{
      width: 768px;
      padding: 0 16px 0 16px;
    }

    .doctors_wrapper{
      padding: 0 0 0 0;
    }

    .card_content_wrapper,
    .card_content_wrapper .card_image_wrapper img,
    .card_content_wrapper .card_image_wrapper .card_image_frame{
      width: 232px;
    }

    .card_content_wrapper .card_image_wrapper .card_image_frame{
      height: 235px;
    }

    .card_content_wrapper .card_image_wrapper{
      height: 235px;
    }

    .card_content_wrapper .card_content{
      padding: 12px 16px 0 16px;
    }

    .card_content_wrapper ._button._button_light{
      left: 20px;
    }

    .doctor_item_wrapper,
    .doctor_item_wrapper:nth-of-type(4n){
      margin: 0 16px 24px 0;
    }

    .doctor_item_wrapper:nth-of-type(3n){
      margin: 0 0 24px 0;
    }

  }

  @include for-mobile{

    .content_block.title_wrapper{

      p{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 9;
        -webkit-box-orient: vertical;
      }

      p._active{
        display: inline;
      }

      .read_more{
        align-self: flex-start;
        margin: 0 0 0 16px;
      }
    }

    h1{
      font-size: 36px;
      line-height: 40px;
      text-align: center;
    }

    .read_more{
      display: block;
    }
    
    .moscow_clinics{
      overflow: hidden;
      width: 100%;
    }

    .geneva_clinics{
      padding: 24px 0 28px 0;
    }

    .cities{
      padding: 12px 0 0 0;
    }

    ._index_subtitle{
      font-size: 28px;
      line-height: 34px;
    }

    .content_block.doctors_container{
      padding: 0 16px 0 16px;
    }
    
    .doctors_title{
      padding: 0 0 24px 0;
    }

    .medical_specialties_selector{
      position: relative;
      display: block;
      width: calc(100% - 32px);
      margin: 0 16px 0 16px;
      padding: 14px 8px 14px 8px;
      border: 1px solid #DADEE1;
      box-sizing: border-box;
      box-shadow: inset 0px 2px 2px rgba(118, 125, 134, 0.1);
      border-radius: 4px;

      &:before{
        content: '';
        position: absolute;
        top: 19px;
        right: 8px;
        width: 5px;
        height: 5px;
        border-bottom: 2px solid #B3B6BE;
        border-right: 2px solid #B3B6BE;
        transform: rotate(45deg);
      }
    }

    .medical_specialties_wrapper{
      display: none;
    }

    .medical_specialties_wrapper._active{
      display: flex;
      flex-flow: column nowrap;
      width: calc(100% - 32px);
      padding: 12px 0 0 0;
      border: 1px solid #DADEE1;
      box-sizing: border-box;
      box-shadow: 0px 5px 20px rgba(15, 4, 61, 0.1);
      border-radius: 0px 0px 2px 2px;
    }

    .medical_speciality{
      margin: 0 0 0 0;
      border: none;
      border-radius: 0;

      &:active,
      &._active{
        background: $baseColor;

        span{
          color: #FFFFFF;
        }
      }
    }

    .doctors_wrapper{
      flex-flow: column nowrap;
      align-items: center;
    }

    .doctor_item_wrapper{
      margin: 0 0 24px 0;
    }

    .doctor_item_wrapper:nth-of-type(4n){
      margin: 0 0 24px 0;
    }
  }
}