[data-page-type="doctor_page"]{
  position: relative;

  h1{
    font-size: 40px;
    line-height: 44px;
  }

  .content_block.doctor_preview{
    width: 100%;
    background: url(/img/wave_bg.svg);
    background-size: 25%;
    z-index: 10;
  }

  .breadcrumbs_wrapper{
    padding: 0 16px 0 16px;
  }

  .breadcrumbs{
    position: relative;
    margin: 0 20px 0 0;

    &:before{
      content: "→";
      position: absolute;
      right: -20px;
    }

    &:last-of-type:before{
      content: none;
    }
  }
  
  .doctor_preview_bg{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    padding: 24px 0 48px 0;
    background: radial-gradient(circle at 100% 50%, rgba(255, 255, 255, 0) 71%, #FBEDD8 calc(71% + 1px));
  }

  .doctor_preview_container{
    display: flex;
    width: 1224px;
    padding: 32px 56px 0 56px;
  }
  
  .doctor_preview_wrapper{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    padding: 0 0 0 312px;
    
    .doctor_image{
      position: absolute;
      top: 0;
      left: 0;
      width: 288px;
      height: 292px;
      border-radius: 8px;
    }

    h1{
      padding: 0 0 8px 0;
    }

    button._button{
      width: 232px;
      padding: 16px 0 16px 0;
    }
  }

  .specialities_wrapper{
    position: relative;
    width: 100%;
    
    &:after{
      content: '';
      position: absolute;
      width: 30px;
      height: 21px;
      top: 0;
      right: 0;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 75%);
      z-index: 10;
    }

    a{
      display: block;
      width: auto;
      margin: 0 16px 0 0;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.02em;
    }
  }

  .clinics_wrapper{
    position: relative;
    left: -16px;
    width: 800px;
    padding: 24px 32px 24px 16px;
    overflow: hidden;

    .revolver_navigation_wrapper,
    .revolver_pagination{
      display: none;
    }

    &:before{
      content: '';
      position: absolute;
      width: 30px;
      height: calc(100% - 48px);
      top: 24px;
      left: 0;
      background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 25%);
      z-index: 10;
    }

    &:after{
      content: '';
      position: absolute;
      width: 30px;
      height: calc(100% - 48px);
      top: 24px;
      right: 0;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 75%);
      z-index: 10;
    }
  }

  .clinic_item{
    // cursor: pointer;
    width: 256px;
    // margin: 0 16px 0 0;
    padding: 12px 16px 24px 16px;
    background: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(15, 4, 61, 0.1);
    border-radius: 8px;

    p,
    a{
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.02em;
    }
  }

  .clinic_item:hover{
    box-shadow: 0px 15px 25px 10px rgba(15, 4, 61, 0.1);
    transform: translateY(-4px);
  }

  .clinic_name{
    font-weight: 500;
    color: $headerBlack;
  }
  
  .clinic_address{
    padding: 4px 0 4px 0;
  }

  .clinic_item:last-of-type{
    margin: 0 0 0 0;
  }

  .content_block.doctor_video_container{
    width: 100%;
    padding: 48px 0 48px 0;

    h2{
      padding: 0 0 24px 0;
    }
  }

  .doctor_video_wrapper {
    width: 100%;
    padding: 0 24px 0 24px;

    .revolver_navigation_wrapper{
      margin: 16px auto 0 auto;
    }
  }

  .content_block.doctor_menu{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
    padding: 20px 16px 20px 16px;
    border-top: 1px solid #FBEDD8;
    border-bottom: 1px solid #FBEDD8;
  }

  .chapter_link_container{
    display: flex;
    flex-flow: row nowrap;
    width: 1224px;
    padding: 0 0 0 56px;
  }

  .chapter_link{
    margin: 0 32px 0 0;
    line-height: 24px;
    letter-spacing: 0.01em;
  }

  .doctor_video_item_container{
    width: auto;
  }

  .doctor_video_item_wrapper{
    position: relative;
    width: 808px;
    
    iframe{
      border-radius: 8px;
    }
  }

  .content_block.doctor_lizcenz{
    width: 100%;
    padding: 48px 0 56px 0;
    background: $lightBG;
  }

  .lizcenz_wrapper{
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 24px 24px 0 24px;

    .revolver_navigation_wrapper{
      margin: 16px auto 0 auto;
    }
  }

  .lizcenz_item.swiper-slide{
    cursor: pointer;
    flex-shrink: 1;
    width: auto;

    &:hover{
      box-shadow: 0px 15px 25px 10px rgba(15, 4, 61, 0.1);
      transform: translateY(-4px);
    }

    img{
      width: auto;
      max-height: 270px;
    }
  }

  .content_block.doctor_education{
    padding: 48px 0 48px 0;

    h2{
      padding: 0 0 24px 0;
    }

    &,
    p{
      line-height: 26px;
      letter-spacing: 0.01em;
    }

    ol{
      list-style-type: none;
      counter-reset: num;
      padding: 12px 0 0 0;

      li{
        position: relative;
        margin: 0 0 0 56px;
        padding: 12px 0 0 0;
  
        &:before{
          content: counter(num) ".";
          counter-increment: num;
          position: absolute;
          left: -30px;
          letter-spacing: 0.01em;
          text-align: center;
        }
  
        &,
        p{
          padding: 0 0 12px 0;
          line-height: 26px;
          letter-spacing: 0.01em;
        }
      }
    }
  }

  .doctor_education_content{
    position: relative;
    height: auto;
    overflow: hidden;

    .show_all{
      height: 0;
      overflow: hidden;
    }

    &._compact{
      height: 600px;

      .show_all{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 41px;
        background: linear-gradient(rgba(255, 255, 255, 0) 0%, #FFFFFF 30%);
      }
    }

    .read_more{
      display: block;
      padding: 16px 0 0 0;
      border-bottom: 1px dashed rgba(120, 47, 64, 0.4);
      line-height: 24px;
    }
  }

  .content_block.doctor_reviews{

    .review_text._compact{
      height: 200px;
    }
  } 

  .content_block.doctor_work_example{
    width: 100%;
    padding: 48px 0 48px 0;
    background: #FFF9F0;

    h2{
      padding: 0 0 24px 0;
    }
  }

  .doctor_work_wrapper{
    width: 100%;
    padding: 0 24px 0 24px;

    .swiper-wrapper{
      padding: 0 0 40px 0;
    }
  }
  
  .doctor_work_item.swiper-slide{
    position: relative;
    flex-shrink: 1;
    width: auto;

    p{
      text-align: center;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.01em;
      
    }
    
    &:before,
    &:after{
      content: '';
      position: absolute;
      width: 492px;
      height: 336px;
      border-radius: 4px;
    }

    &:before{
      top: 8px;
      left: 8px;
      background: $baseColor;
      z-index: 1;
    }

    &:after{
      top: 4px;
      left: 4px;
      background: #BB979F;
      z-index: 2;
    }
  }

  .inner_gallery_button{
    cursor: pointer;
    position: relative;
    padding: 4px 0 0 0;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: $textColor;

    &:before{
      content: '';
      position: absolute;
      bottom: 1px;
      left: -28px;
      width: 20px;
      height: 20px;
      background: url(/img/camera_icon.svg);
    }
  }
  
  .bg_filter{
    display: none;
    width: 492px;
    height: 336px;
    background: #782F40;
    opacity: 0.7;
    border-radius: 4px;
    z-index: 4;

    button{
      color: #FFFFFF;

      &:hover{
        background: transparent;
      }
    }
  }

  .doctor_work_image{
    cursor: pointer;
    position: relative;
    width: 492px;
    height: 336px;
    margin: 0 0 24px 0;
    background-size: contain;
    border-radius: 4px;
    z-index: 3;

    &:hover{
      
      .bg_filter{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .content_block.doctor_reviews{
    width: 100%;
    margin: 0 0 24px 0;
  }

  .reviews_wrapper{
    padding: 0 0 0 24px;
  }

  .content_block{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  h2{
    color: $headerBlack;
  }

  @include for-notdesc{

    h1{
      font-size: 36px;
      line-height: 40px;
    }

    .clinics_wrapper{
      width: 100%;
    }

    .clinic_item:hover{
      box-shadow: 0px 5px 20px rgba(15, 4, 61, 0.1);
      transform: translateY(0);
    }

    .inner_gallery_button{
      color: $headerBlack;
      border-bottom: 1px dashed rgba(51, 54, 56, 0.4);
    }

    .doctor_preview_bg{
      padding: 24px 0 32px 0;
    }

    .doctor_preview_wrapper{

      button._button{
        padding: 12px 0 12px 0;
      }
    }
    .doctor_work_image:hover {

      .bg_filter{
        display: none;
      }
    }
  }

  @include for-pad{

    .content_block.doctor_preview{
      background-size: 50%;
    }

    .doctor_preview_container{
      width: 768px;
      padding: 32px 16px 0 16px;

    }
    
    .clinics_wrapper{
      width: 100%;
      margin: 0 0 0 16px;
      padding: 24px 0 24px 0;
    }
    
    .doctor_preview_bg{
      padding: 24px 0 32px 0;
    }
    
    .doctor_preview_wrapper{
      width: 568px;
      margin: 0 0 0 184px;
      padding: 0 0 0 0;
      
      h2{
        padding: 0 0 12px 0;
      }

      .doctor_image{
        width: 168px;
        height: 168px;
        left: -184px;
      }
    }

    .content_block.doctor_menu{
      width: 100%;
      padding: 20px 16px 20px 16px;
    }
  
    .chapter_link_container{
      width: 736px;
      padding: 0 0 0 0;
    }
  
    .chapter_link{
      margin: 0 32px 0 0;
      line-height: 23px;
      letter-spacing: 0.01em;
    }

    
    .content_block.doctor_video_container,
    .content_block.doctor_lizcenz{
      padding: 40px 0 40px 0;
    }
    
    .doctor_video_wrapper{
      padding: 0 16px 0 16px;
    }

    .doctor_video_item_wrapper{
      width: 736px;

      iframe{
        width: 736px;
        height: 414px;
      }
    }

    .content_block.doctor_education{
      padding: 40px 16px 40px 16px;
    }
    
    .content_block.doctor_work_example{
      padding: 32px 0 40px 0;
    }

    .content_block.doctor_reviews{
      padding: 40px 0 32px 0;
    }

    .reviews_wrapper{
      padding: 0 16px 0 16px;
    }
  }

  @include for-mobile{

    .content_block.doctor_preview{
      background: none;
    }

    .breadcrumbs{
  
      &:last-of-type{
       padding: 4px 0 0 0;
      }
    }

    .doctor_preview_bg{
      background: none;
    }

    .doctor_preview_container{
      width: 100%;
      padding: 8px 0 0 0;

    }
    
    .doctor_preview_wrapper{
      width: 100%;
      align-items: center;
      padding: 0 0 0 0;
      
      h1{
        padding: 0 16px 8px 16px;
        text-align: center;
      }

      .doctor_image{
        position: static;
        width: 288px;
        height: 292px;
      }
    }

    .specialities_wrapper{
      padding:0 16px 16px 16px;
    }

    .clinics_wrapper{
      left: auto;
      margin: 0 0 16px 0;
      padding: 16px 16px 0 16px;

      
      .swiper-wrapper{
        height: auto;

        &:before,
        &:after{
          content: none;
        }
      }

      .revolver_navigation_wrapper{
        display: flex;
        margin: 16px auto 0 auto;
      }

      .revolver_pagination{
        display: block;
      }
    }
    .clinic_item{
      width: 288px;
      padding: 12px 32px 24px 16px;
    }

    .content_block.doctor_menu{
      padding: 32px 0 16px 0;
    }

    .chapter_link_container{
      flex-flow: column nowrap;
      width: 100%;
      padding: 0 0 0 40px;
    }

    .chapter_link_wrapper{
      padding: 0 0 12px 0;
    }
    
    .chapter_link{
      position: relative;

      &:before{
        content: '— ';
        position: absolute;
        left: -24px;
      }
    }

    .content_block.doctor_video_container{
      padding: 32px 16px 32px 16px;

      h2{
        padding: 0 0 16px 0;
      }
    }

    .doctor_video_wrapper{
      padding: 0 0 0 0;
    }

    .doctor_video_item_wrapper{
      width: 288px;

      iframe{
        width: 288px;
        height: 162px;
      }
    }

    .content_block.doctor_lizcenz{
      padding: 24px 0 32px 0;
    }

    .lizcenz_wrapper{
      padding: 16px 16px 0 16px;
    }

    .content_block.doctor_education{
      padding: 32px 16px 32px 16px;

      h2{
        padding: 0 0 16px 0;
      }
    }

    .doctor_work_wrapper{
      padding: 0 16px 0 16px;
  
      .swiper-wrapper{
        padding: 0 0 24px 0;
      }
    }

    .content_block.doctor_work_example{
      padding: 32px 0 32px 0;

      h2{
        padding: 0 0 16px 0;
      }
    }

    .doctor_work_item.swiper-slide{
      
      &:before,
      &:after{
        width: 288px;
        height: 196px;
      }
    }
    
    .doctor_work_image{
      width: 288px;
      height: 196px;
      
    }

    .content_block.doctor_reviews{
      padding: 32px 0 40px 0;

      h2{
        padding: 0 16px 0 16px;
      }
    }

    .reviews_wrapper{
      padding: 0 0 0 0;
    }
  }
}

.popup_lizcenz_wrapper{
  position: absolute;
  margin: 48px 0 48px 0;
  padding: 48px 48px 48px 48px;
  background: #ffffff;
  border-radius: 8px;

  img{
    width: 360px;
    height: auto;
  }

  @include for-notdesc{
    position: relative;
    top: 16px;
    margin: auto 0 auto 0;
  }

  @include for-mobile{
    padding: 48px 16px 16px 16px;

    img{
      width: 100%;
    }
  }
}

.popup_filter_bg{
    
  div.review_item_wrapper{

    @include for-notdesc{
      position: relative;
      top: 16px;
      margin: auto 0 auto 0;
    }
  
    @include for-mobile{
  
    }
  }
}



.popup_button_next._diagonal_navigation,
.popup_button_prev._diagonal_navigation{
  cursor: pointer;
  position: absolute;
  width: 28px;
  height: 14px;
  background: url(/img/arrow_diagonal_nav_black.svg);

}

.popup_button_prev._diagonal_navigation{
  top: 3px;
  left: 11px;
  transform: rotate(180deg);
}

.popup_button_next._diagonal_navigation{
  top: 28px;
  right: -14px;
}