[data-page-type="faq_page"]{

  .content_block.faq_title{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 24px 0 40px 0;
    
    ._button._button_light._link_black{
      border: 1px solid #F7C67E;
    }
  }

  h1{
    padding: 16px 0 16px 0;
    text-align: center;
  }

  .content_block.doctors_container{
    width: 100%;
    padding: 0 0 0 0;

    .swiper-slide{
      width: auto;
    }
  }

  .doctors_wrapper{
    padding: 0 32px 0 32px;
  }

  .doctors_wrapper .swiper-wrapper{
    padding: 4px 0 24px 0;
  }

  .doctors_title{
    padding: 0 0 32px 0;

    h2{
      text-align: center;
    }
  }

  ._index_subtitle{
    font-weight: 300;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 0.01em;
    color: $headerBlack;
  }

  .content_block.faq_container{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 1016px;
    padding: 48px 0 0 0;

    h2{
      padding: 0 0 32px 0;
      text-align: center;
      color: $headerBlack;
    }
  }

  .more_faq_button{
    width: 223px;
    height: 56px;
  }

  @include for-notdesc{

    .content_block.faq_title{
      padding: 24px 0 32px 0;
    }
  }

  @include for-pad{

    h1{
      padding: 8px 0 8px 0;
    }

    .content_block.faq_container{
      width: 736px;
      padding: 40px 0 0 0;

      h2{
        padding: 0 0 24px 0;
      }

      .faq_item_wrapper:nth-last-of-type(1){
        padding: 0 0 24px 0;
      }
    }

    .doctors_title{
      padding: 0 0 24px 0;
    }

    div.item_answer{
      width: 720px;
    }
  }

  @include for-mobile{

    h1{
      padding: 8px 0 16px 0;
    }

    .doctors_title{
      padding: 0 0 16px 0;
    }

    .doctors_wrapper{
      padding: 0 16px 0 16px;
    }

    .doctors_wrapper .swiper-wrapper{
      padding: 4px 0 16px 0;
    }

    .content_block.faq_container{
      width: 100%;
      padding: 32px 16px 0 16px;

      h2{
        padding: 0 0 16px 0;
      }

      .faq_item_wrapper:nth-last-of-type(1){
        padding: 0 0 16px 0;
      }
    }

    div.item_answer{
      width: calc(100% - 12px);
      margin: 16px 0 0 12px;
      padding: 0 0 0 12px;
    }
  }
}