[data-page-type="header_dropdown_menu"]{
  position: relative;
  width: 1224px;

  .back_button_wrapper{
    display: none;
  }

  .close_dropdown_menu{
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 0;
    padding: 0 28px 0 0;

    &:before{
      content: "";
      position: absolute;
      top: -2px;
      right: 0;
      width: 24px;
      height: 24px;
      background: url(/img/close_icon_black.svg);
      background-size: contain;
    }

    &:hover:before{
      background: url(/img/close_icon_black_active.svg);
      background-size: contain;
    }

    &:hover{

      span{
        color: $baseColor;
        border-bottom: 1px solid $baseColor;
      }
    }

    span{
      color: $headerBlack;
      border-bottom: 1px solid rgba(51, 54, 56, 0.4);
    }
  }
  
  .category_wrapper{
    position: relative;
    width: 312px;
    padding: 12px 0 0 0;
    background: $lightBG;
    min-height: calc(100vh - 160px);
  }

  .category_name{
    cursor: pointer;
    padding: 8px 0 8px 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: $headerBlack;

    &:hover{
      background: #ffffff;
      border-radius: 8px 0 0 8px;
    }
  }

  .category_item_wrapper{

    &._active{
      background: #ffffff;
      border-radius: 8px 0 0 8px;
    }
  }

  .all_services._menu_link_no_borders{
    display: block;
    padding: 12px 0 12px 16px;
    font-weight: 500;
    color: $headerBlack;

    &:hover{
      color: $baseColor;
    }
  }

  .category_link._link_black{
    position: absolute;
    top: 24px;
    left: 32px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.01em;
  }

  .listing_first_level.level_container{
    position: absolute;
    top: 0;
    left: 312px;
    display: flex;
    flex-flow: row nowrap;
    padding: 64px 0 0 32px;
  }
  
  .listing_first_level.level_wrapper.column{
    width: 256px;

    &:first-of-type{
      margin: 0 16px 0 0;
    }
  }

  .listing_second_level,
  .listing_third_level{
    display: none;
    flex-flow: column nowrap;
    width: 240px;
    padding: 12px 0 0 0;

    &._active{
      display: flex;
    }
  }

  .listing_first_level_item,
  .listing_second_level_item{
    padding: 0 0 12px 0;
  }

  .with_children > p{
    cursor: pointer;
    position: relative;
    top: 2px;
    right: -8px;
    display: inline-block;
    width: 20px;
    height: 17px;
    border: 1px solid transparent;

    &:after{
      content: '';
      position: absolute;
      top: 5px;
      right: 6px;
      width: 5px;
      height: 5px;
      border-bottom: 2px solid #727581;
      border-right: 2px solid #727581;
      transform: rotate(45deg);
    }

    &._active:after{
      border-bottom: 2px solid #333638;
      border-right: 2px solid #333638;
      transform: rotate(-135deg);
    }
  }

  .listing_second_level_item{
    position: relative;
    padding: 0 0 12px 24px;

    &:before{
      content: '—';
      position: absolute;
      top: 1px;
      left: 0;
      letter-spacing: 0.01em;
      color: $headerBlack;
    }
  }

  .listing_third_level_item{
    padding: 0 0 8px 16px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.02em;
  }

  .listing_third_level_item:last-of-type{
    padding: 0 0 0 16px;
  }

  .mobile_active_block_display_wrapper{
    display: none;
  }

  @include for-notdesc{

    .close_dropdown_menu{
      display: none;
    }   
  }

  @include for-pad{
    width: 768px; 
    
    .category_wrapper{
      width: 208px;
    }

    .category_link._link_black{
      top: 24px;
      left: 16px;
    }

    .listing_first_level.level_container{
      left: 208px;
      padding: 64px 0 0 16px;
    }
  }

  @include for-mobile{

    .back_button_wrapper{
      display: flex;
      background: $lightBG;
      

      button{
        position: relative;
        width: 100%;
        height: 56px;
        padding: 0 0 0 36px;
        text-align: start;
        line-height: 24px;
        letter-spacing: 0.01em;

        &:before{
          content: "";
          position: absolute;
          top: 24px;
          left: 18px;
          width: 5px;
          height: 5px;
          border-bottom: 2px solid #B3B6BE;
          border-right: 2px solid #B3B6BE;
          transform: rotate(135deg);
        }
      }
    } 

    .category_wrapper{
      width: 100%;
      padding: 0 0 0 0;
      background: #ffffff;
      box-shadow: none;
    }

    .mobile_active_block_display_wrapper{

      &._active{
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        z-index: 100;
      }
    }

    .category_name{
      padding: 16px 0 16px 0;
      border-bottom: 1px solid rgba(51, 54, 56, 0.4);
    }

    .category_item_wrapper{
      padding: 0 16px 0 16px;

      // &:nth-last-of-type(2){

      //   .category_name{
      //      border-bottom: none;
      //   }
      // }
    }

    .listing_first_level.level_container{
      top: 56px;
      left: 0;
      flex-flow: column nowrap;
      width: 100%;
      min-height: 100vw;
      padding: 0 16px 0 16px;
      background: #ffffff;

      .listing_first_level.level_wrapper.column:last-of-type{

        .item_wrapper:last-of-type{
          border-bottom: none;
        }
      }
    }

    .listing_first_level.level_wrapper.column{
      width: 100%;
  
      &:first-of-type{
        margin: 0 0 0 0;
      }
    }

    .category_link._link_black{
      display: none;
    }

    .item_wrapper{
      position: relative;
      padding: 16px 0 16px 0;
      border-bottom: 1px solid rgba(51, 54, 56, 0.4);

      ._link_black{
        border-bottom: none;
      }
    } 

    .with_children > p{
      position: absolute;
      top: 16px;
      right: 0;

      &:after{
        transform: rotate(-45deg);
      }
    }

    .listing_second_level._active,
    .listing_third_level._active{
      position: absolute;
      top: 56px;
      left: 0;
      width: 100%;
      min-height: 100vw;
      padding: 0 16px 0 16px;
      background: #ffffff;
      z-index: 100;

      .item_wrapper:last-of-type{
        border-bottom: none;
      }
    }

    .listing_second_level_item{

      &:before{
        content: none;
      }
    }

    .listing_third_level_item{
      padding: 16px 0 16px 0;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.01em;
  
      &:last-of-type{
        padding: 16px 0 16px 0;
      }
    }
  }
}