[data-page-type='index']{

  .content_block.top_container{
    width: 100%;
    height: 496px;
    background: radial-gradient(circle at 0 100%,#fff9f0 59%,#782f40 calc(59% + 1px));

    .top_wrapper{
      position: relative;
      width: 1224px;
      margin: 0 auto;
      padding: 40px 0 0 0;
    }

    h1{
      width: 592px;
      font-weight: 300;
      font-size: 72px;
      line-height: 76px;
    }

    .top_list{
      display: flex;
      flex-flow: row nowrap;
      padding: 32px 0 40px 60px;
    }

    .top_list_item{
      position: relative;
      padding: 0 84px 0 0;

      & p{
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.02em;
        color: $headerBlack;
      }

      &:before{
        content: '';
        position: absolute;
        top: -4px;
        left: -60px;
        width: 48px;
        height: 48px;
        box-sizing: border-box;
        background-size: contain;
      }
    }

    .top_list_item._premium:before{
      background: url(/img/premium_segment.svg);
    }

    .top_list_item._spec:before{
      background: url(/img/specialist.svg);
    }

    .top_list_item._innovation:before{
      background: url(/img/instruments.svg);
    }

    .popup_button{
      padding: 16px 33px 16px 33px;
    }

    .top_img{
      position: absolute;
      top: 19px;
      right: 130px;
      width: 500px;
      height: 477px;
      background: url(/img/woman_first_screen.png);
      background-size: cover;
    }
  }

  .content_block.servises_container{
    height: 512px;
    padding: 120px 0 120px 0;

    h2{
      text-align: center;
    }
  }

  .servises_wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 32px 0 0 0;
  }

  .services_item{
    display: flex;
    align-items: center;
    width: 272px;

    &:nth-of-type(-n + 4){
      padding: 0 0 40px 0;
    }
  }

  .services_item a._menu_link{
    margin: 0 0 0 8px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #782F40;
  }

  .services_item_img{
    width: 80px;
    height: 80px;
  }

  .content_block.deals_container{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    padding: 0 0 120px 0;

    h2{
      padding: 0 0 32px 0;
      text-align: center;
    }
  }
  
  .deals_title{
    position: relative;
    display: inline-block;
    margin: 0 auto;
    
    form{
      position: absolute;
      top: 2px;
      right: -448px;
    }
  }

  .deals_wrapper{
    position: relative;
    width: 100%;
    height: 280px;
    padding: 0 40px 0 40px;
    
    .swiper-wrapper{
      height: auto;
      padding: 0 0 24px 0;
    }
  }

  .content_block.clinic_description_container{
    width: 100%;
    margin-left: auto;
    background: radial-gradient(circle at 100% 50%, #FFF9F0 32%, #FBEDD8 calc(32% + 1px));
  }
  
  .clinic_description_wrapper{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 112px 0 88px 40px;
    
    .diagonal_navigation{
      bottom: 16px;
      left: 16px;
    }
  }

  .clinic_description_title{
    grid-column-start: 2; 
    grid-column-end: 6; 
    grid-row-start: 1; 
    grid-row-end: 2;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 0 24px 0 0;
    padding: 0 0 32px 0;
    
    h2{
      width: 496px;
    }
  }

  .clinic_description_gallery{
    grid-column-start: 6; 
    grid-column-end: 13; 
    grid-row-start: 1; 
    grid-row-end: 3;
    position: relative;
    width: 100%;
    overflow: hidden;

    .swiper-slide{
      display: flex;
      align-items: flex-end;
    }

    img{
      width: 100%;
      height: auto;
    }
  }

  .clinic_description_content{
    grid-column-start: 2; 
    grid-column-end: 6; 
    grid-row-start: 2; 
    grid-row-end: 3;
    display: flex;
    justify-content: flex-end;
    margin: 0 24px 0 0;
    
    p{
      line-height: 26px;
      letter-spacing: 0.01em;
      color: $headerBlack;
      // min-width: 496px;
      width: 496px;
    }

    .read_more{
      display: none;
    }
  }

  .doctors_advantages_bg{
    background: radial-gradient(circle at 0 50%,#FFFFFF 45%, #F8F8F8 calc(45% + 1px));
  }

  .doctors_advantages_bg_inner{
    background: linear-gradient(180deg, rgba(248, 248, 248, 0.1) 7%, rgba(252, 252, 252, 0.5) 76%, rgba(254, 254, 254, 0.9) 100%);

  }

  .content_block.doctors_container{
    width: 100%;
    padding: 120px 0 0 40px;

    .swiper-slide{
      flex-shrink: 1;
    }

    ._button._button_light{
      padding: 9px 16px 9px 16px;
    }
  }

  .doctors_wrapper .swiper-wrapper{
    padding: 4px 0 32px 0;
  }

  .doctors_title{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 1224px;
    margin: 0 auto 0 auto;
    padding: 0 0 24px 0;

    h2{
      padding: 0 0 8px 0;
      text-align: center;
    }

    p{
      width: 800px;
      line-height: 26px;
      text-align: center;
      letter-spacing: 0.01em;
    }

    form{
      position: absolute;
      bottom: 30px;
      right: 0;
    }
  }

  ._index_subtitle{
    font-weight: 300;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 0.01em;
    color: $headerBlack;
  }

  .content_block.reviews_cotnainer{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    height: 784px;
    padding: 0 600px 0 0;
    background: url(/img/index_reviews_bg.png);
    background-position: right;
    background-repeat: no-repeat;

    .read_more{
      padding: 0 0 0 0;
    }
  }

  .reviews_cotnainer_bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 100% 50%,transparent 44%,#FFF9F0 calc(44% + 1px));
  }

  .reviews_title{
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    padding: 120px 0 0 0;
  }

  .reviews_wrapper{
    width: 600px;
    padding: 48px 0 0 0;
    margin: 0;

    hr{
      position: relative;
      width: 600px;
      height: 1px;
      background-color: #DADEE1;
      z-index: 2;
    }

    .diagonal_navigation{
      bottom: 0;
      left: 232px;
      width: 112px;
      padding: 0 0 0 40px;
      color: $headerBlack;

      &:before{
        content: '';
        position: absolute;
        top: 24px;
        left: -232px;
        width: 600px;
        height: 1px;
        background-color: #DADEE1;
      }

      &:after{
        border-top: 1px solid $headerBlack;
      }
    }

    .diagonal_navigation_bg{
      position: absolute;
      top: 0;
      left: -20px;
      width: 176px;
      height: 48px;
      background: #FFF9F0;
    }

    .swiper-button-next._diagonal_navigation,
    .swiper-button-prev._diagonal_navigation{
      background: url(/img/arrow_diagonal_nav_black.svg);
    }
  }

  .review_item_wrapper{
    position: relative;
    height: 500px;

    hr{
      width: 544px;
      height: 1px;
      margin-left: auto;
      background-color: #dadee1;
      text-align: end;
    }

    & > p{
      padding: 16px 0 0 0;
    }
  }

  .review_text{
    position: relative;
    padding: 24px 0 0 0;
    color: $headerBlack;

    &,
    & *{
      line-height: 26px;
      letter-spacing: 0.01em;
    }

    &._compact{
    max-height: 400px;
    overflow: hidden;
    }

    .show_all{
      position: absolute;
      bottom: 0;
      width: 100%;
      height: auto;
      padding: 8px 0 0 0;
      background: linear-gradient(rgba(255, 255, 255, 0) 0%, #fff9f0 30%);
    }
  }

  .big_quotes{
    position: absolute;
    top: -16px;
    left: 0;
    width: 37px;
    height: 24px;
    background: url(/img/big_quotes.svg);
  }

  .content_block.clinics_cotnainer{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    background: linear-gradient(180deg, #F8F8F8 7.17%, #FCFCFC 76.31%, #FEFEFE 100%);
    
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1176px;
      background: radial-gradient(circle at 0 25%,#FFFFFF 28%,transparent calc(28% + 1px));
    }

    .cities{
      position: relative;
      display: flex;
      justify-content: space-between;
      padding: 16px 0 0 0;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0.01em;
      color: $headerBlack;

      div:first-of-type{
        margin: 0 24px 0 0;
      }
    }
    
    .city{
      cursor: pointer;
      border-bottom: 1px dashed rgba(120, 47, 64, 0.4);
    }
    
    .city:hover{
      color: #C73F36;
      border-bottom: 1px dashed #C73F36;
    }

    .cities ._active{
      border-bottom: none;
      font-weight: 500;
      line-height: 24px;
    }
  }

  .clinics_title{
    position: relative;
    padding: 120px 0 0 0;
  }

  .clinics_wrapper{
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 32px 0 56px 0;

    .swiper-wrapper{
      width: 1224px;
      padding: 16px 0 24px 16px;
    }

    .revolver_navigation_wrapper{
      display: none;
    }

    &.geneva_clinics{
      padding: 48px 0 80px 0;
    }
  }

  .clinic_card_wrapper{
    cursor: pointer;
    width: 288px;
    height: 144px;
    // margin: 0 24px 0 0;
    padding: 24px 24px 0 24px;
    background: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(15, 4, 61, 0.1);
    border-radius: 8px;
  }

  .clinic_card_wrapper:hover{
    box-shadow: 0px 15px 25px 10px rgba(15, 4, 61, 0.1);
    transform: translateY(-4px);
  }
  
  .clinic_card_wrapper._active{
    background: linear-gradient(180deg, #782F40 0%, #801E35 100%);
    color: #FFFFFF;
    
    .clinic_title{
      color: #FFFFFF;
    }
  }

  .clinic_title{
    padding: 0 0 4px 0;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: $headerBlack;
  }

  .clinic_address{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.02em;
  }

  .clinic_info{
    width: 100%;
    // padding: 80px 0 0 0;
  }

  .clinic_name{
    position: relative;
    text-align: center;
    color: $headerBlack;
  }

  .clinic_contacts{
    position: absolute;
    bottom: 88px;
    left: 350px;
    width: 376px;
    height: 344px;
    padding: 16px 24px 24px 24px;
    background: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(15, 4, 61, 0.1);
    border-radius: 4px;
    z-index: 2;

    p{
      padding: 0 0 8px 0;
    }

    span{
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.01em;
    }

    .title{
      font-weight: 500;
      color: $headerBlack;
    }
  }
  
  .clinic_on_map{
    height: 544px;
    padding: 64px 0 0 0;
  }

  @include for-notdesc{

    .content_block.top_container{

      .top_list{
        display: flex;
        flex-flow: column nowrap;
        padding: 16px 0 20px 40px;
      }

      .top_text_br{
        display: none;
      }

      .popup_button{
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.02em;
      }

      .top_list_item:before{
          top: -4px;
          left: -40px;
          width: 32px;
          height: 32px;
      }
      
      .top_list_item._premium:before,  
      .top_list_item._spec:before,
      .top_list_item._innovation:before{
        background-size: contain;
      }
    }

    .services_item a._menu_link{
      margin: 0 0 0 8px;
      font-size: 16px;
      line-height: 24px;
    }

    .deals_title{

      form{
        position: static;
      }
    }

    .content_block.clinic_description_container{
      background: #FBEDD8;
    }

    .clinic_description_wrapper{
      display: flex;
      margin: 0 auto;
      flex-flow: column nowrap;
      align-items: center;
    }

    .clinic_description_title{

      h2{
        width: auto;
      }
    }

    .clinic_description_content{

      p{
        width: auto;
      }
    }

    .doctors_title{
      width: 100%;
      padding: 0 16px 24px 0;
    }

    .reviews_cotnainer_bg{
      display: none;
    }

    .content_block.reviews_cotnainer{
      padding: 0 16px 0 16px;
      background: #FFF9F0;   
    }

    .review_text{

      p{
        overflow: hidden;

      }
    }

    .clinics_wrapper{
  
      .swiper-wrapper{
        width: 100%;
      }
    }

  }

  @include for-pad{

    .content_block.top_container{
      height: 392px;
      background: radial-gradient(circle at 0 100%,#fff9f0 72%,#782f40 calc(72% + 1px));

      .top_wrapper{
        width: 768px;
        padding: 24px 16px 0 16px;
      }

      h1{
        font-size: 44px;
        line-height: 54px;
      }

      .top_list{
        padding: 16px 0 8px 40px;
      }

      .top_list_item{
        padding: 0 0 24px 0;

        & p{
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.01em;
        }
      }

      .top_img{
        top: 16px;
        right: 0;
        width: 412px;
        height: 393px;
        // background-size: contain;

        &:before{
          content: '';
          position: absolute;
          bottom: -1px;
          left: 0;
          width: 412px;
          height: 18px;
          background: #FFFFFF;
        }
      }
    }

    .content_block.servises_container{
      width: 768px;
      height: auto;
      padding: 40px 16px 40px 16px;
    }

    .servises_wrapper{
      justify-content: flex-start;
    }

    .services_item{
      width: 232px;
      
      &:nth-of-type(n){
        margin: 0 20px 0 0;
        padding: 0 0 8px 0;
      }
  
      &:nth-of-type(3n){
        margin: 0 0 0 0;
      }
      &:nth-of-type(n + 7){
        padding: 0 0 0 0;
      }
    }

    .content_block.deals_container{
      padding: 0 0 40px 0;

      h2{
        padding: 0 0 12px 0;
      }
    }

    .deals_title{
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      padding: 0 0 24px 0;
    }

    .deals_wrapper{
      padding: 0 16px 0 16px;
    }

    .content_block.clinic_description_container{
      height: 850px;
      padding: 0 0 0 0;
    }
    
    .clinic_description_wrapper{
      width: 768px;
      height: auto;
      padding: 40px 16px 40px 16px;
      
      .diagonal_navigation{
        bottom: 40px;
      }
    }

    .clinic_description_title{
      width: auto;
      margin: 0 0 0 0;
      padding: 0 0 24px 0;
    }

    .clinic_description_gallery{
      width: 736px;
      height: 432px;
      padding: 0 0 24px 0;

      .swiper-wrapper{
        width: 736px;
      }

      img{
        display: block;
        width: 736px;
        height: 408px;
      }
    }

    .clinic_description_content{
      width: 100%;
      margin: 0 0 0 0;

      h2{
        padding: 0 0 0 0;
      }

    }

    ._index_subtitle{
      font-weight: 300;
      font-size: 36px;
      line-height: 40px;
      letter-spacing: 0.01em;
      color: $headerBlack;
    }

    .doctors_advantages_bg{
      background: radial-gradient(circle at 0 40%,#fff 51%,#f8f8f8 calc(51% + 1px));
    }
    
    .content_block.doctors_container{
      padding: 40px 0 0 16px;
    }

    .doctors_title{

      p{
        width: auto;
      }

      form{
        position: static;
        padding: 8px 0 0 0;
      }
    }

    .doctors_wrapper{
      padding: 0 0 40px 0;
      
      .swiper-wrapper{
        padding: 4px 0 24px 0;
      }
    } 

    .content_block.reviews_cotnainer{
      height: 435px;
    }

    .reviews_wrapper{
      width: 736px;
      height: 100%;

      .diagonal_navigation{
        bottom: 59px;
        left: 278px;

        &:before{
          width: 736px;
          left: -278px;
        }
      }
    }

    .reviews_title{
      width: 736px;
      padding: 48px 0 0 0;
      justify-content: flex-start;

      h2{
        margin: 0 24px 0 0;
      }

      form{
        padding: 4px 0 0 0;
      }
    }

    .review_item_wrapper{
      

      hr{
        width: 680px;
      }

      & > p{
        padding: 8px 0 0 0;
      }
    }
    
    .review_text{

      &._compact{
        max-height: 140px;
      }
    }

    .content_block.clinics_cotnainer{
      overflow: hidden;
    }

    .clinics_title{
      padding: 40px 0 0 0;
    }

    .clinics_wrapper{
      padding: 8px 16px 40px 16px;
  
      .swiper-wrapper{
        // height: 184px;
        padding: 16px 0 24px 0;
      }
  
      .revolver_navigation_wrapper{
        display: flex;
      }

      &.geneva_clinics{
        padding: 24px 16px 80px 16px;
      }
    }

    .clinic_contacts{
      bottom: 64px;
      left: 48px;
    }

    .clinic_on_map{
      height: 440px;
      padding: 40px 0 0 0;
    }
  }

  @include for-mobile{

    .content_block.top_container{
      height: 336px;
      background: radial-gradient(circle at 0 50%,#fff9f0 75%,#782f40 calc(75% + 1px));

      .top_wrapper{
        position: static;
        width: 192px;
        margin: 0 0 0 0;
        padding: 16px 0 0 16px;
      }

      h1{
        width: 192px;
        font-size: 26px;
        line-height: 30px;
        letter-spacing: 0.01em;
      }

      .top_list{
        padding: 12px 0 16px 40px;

      }

      .top_list_item{
        padding: 0 0 8px 0;

        span{
          display: none;
        }

        & p{
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0.02em;
        }
  
        // &:before{
        //   top: 8px;
        //   left: -32px;
        //   width: 24px;
        //   height: 24px;
        //   border-radius: 12px;
        // }
      }

      .top_list_item:last-of-type{
        padding: 0 0 0 0;
      }

      .top_img{
        top: 17px;
        right: 0;
        width: 224px;
        height: 320px;
        background-size: 135%;
        background-position: -25% 0;
        background-repeat: no-repeat;
      }

      .popup_button{
        position: relative;
        padding: 10px 25px 10px 25px;
      }
    }

    .content_block.servises_container{
      height: auto;
      padding: 32px 0 32px 0;
    }

    .servises_wrapper{
      align-items: flex-start;
      width: 320px;
      margin: 0 auto;
      padding: 12px 16px 0 16px;
    }

    .services_item{
      flex-flow: column nowrap;
      width: 136px;
    }

    .services_item:nth-of-type(-n + 6){
      padding: 0 0 16px 0;
    }

    .content_block.deals_container{
      height: auto;
      padding: 0 0 32px 0;

      h2{
        padding: 0 0 4px 0;
      }

      form{
        padding: 0 0 20px 0;
      }
    }

    .deals_title{
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
    }

    .deals_wrapper{
      height: auto;
      padding: 0 16px 0 16px;

      .swiper-wrapper{
        padding: 0 0 24px 0;
      }
    } 

    ._index_subtitle{
      font-size: 28px;
      line-height: 34px;
      text-align: center;
    }

    .clinic_description_wrapper{
      width: 100%;
      height: auto;
      padding: 24px 16px 32px 16px;

      
      .diagonal_navigation{
        position: relative;
        bottom: auto;
        left: auto;
        margin: 0 auto 0 auto;
      }
    }
    
    .clinic_description_title{
      width: auto;
      padding: 0 0 16px 0;
    }
    
    .clinic_description_gallery{
      width: 288px;
      padding: 0 0 16px 0;
      
      .swiper-wrapper{
        padding: 0 0 8px 0;
      }

      img{
        display: block;
        width: 288px;
        height: 160px;
      }
    }

    .clinic_description_content{
      position: relative;
      display: block;
      width: 100%;
      margin: 0 0 0 0;
      
      p{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 8;
        -webkit-box-orient: vertical;
      }

      p._active{
        display: inline;
      }

      .read_more{
        display: block;
      }
    }

    .content_block.doctors_container{
      padding: 32px 0 32px 0;

      ._button._button_light._button_to_all{
        padding: 0 0 0 0;
      }
    }

    .doctors_title{
      padding: 0 16px 0 16px;

      p{
        width: 100%;
      }

      form{
        position: static;
        padding: 8px 0 0 0;
      }
    }
    
    .doctors_advantages_bg{
      background: radial-gradient(circle at -400% 50%,#fff 87%,#f8f8f8 calc(87% + 1px));
    }

    .doctors_wrapper .swiper-wrapper{
      padding: 24px 0 16px 16px;
    }
    
    .content_block.reviews_cotnainer{
      height: auto;
    }
    
    .reviews_title{
      flex-flow: column nowrap;
      width: 100%;
      padding: 24px 0 8px 0;
      
      h2{
        padding: 0 0 8px 0;
      }
    }
    
    .reviews_wrapper{
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      width: 100%;
      padding: 32px 0 0 0;
      
      .swiper-wrapper{
        height: auto;
      }
      
      .diagonal_navigation{
        position: relative;
        bottom: 32px;
        left: auto;
        width: 116px;
        padding: 0 0 0 0;

        &:before{
          content: none;
        }
      }
    }
    
    .review_item_wrapper{
      height: 360px;

      hr{
        width: calc(100% - 52px);
      }

      & > p{
        padding: 16px 0 8px 0;
      }
    }

    .review_text{

      &._compact{
        max-height: 270px;
      }

      .show_all{
        padding: 8px 0 0 0;
      }
    }

    .content_block.clinics_cotnainer{
      overflow: hidden;

      .cities{
        align-items: flex-start;
        padding: 12px 0 0 0;
        font-size: 16px;
        line-height: 24px;

        ._active{
          border-bottom: 1px dashed transparent;
          line-height: normal;
        }
      }
    }

    .clinics_title{
      padding: 32px 16px 0 16px;
    }

    .clinics_wrapper{
      // width: 100%;
      padding: 0 16px 0 16px;

      .swiper-wrapper{
        height: 128px;
        padding: 20px 0 16px 0;

      }
      
      &.geneva_clinics{
        padding: 20px 0 16px 16px;
      }

      .revolver_navigation_wrapper{
        display: flex;
      }
    }

    .clinic_card_wrapper{
      width: 264px;
      height: 128px;
      padding: 12px 12px 12px 12px;
    }

    .clinic_name{
      font-size: 24px;
      line-height: 34px;
      padding: 32px 0 0 0;
    }

    .clinic_contacts{
      position: relative;
      bottom: auto;
      left: auto;
      width: 100%;
      height: auto;
      padding: 24px 16px 16px 16px;
      background: transparent;
      overflow-y: auto;
      box-shadow: none;
      border-radius: 0;
    }

    .clinic_on_map{
      height: 320px;
      padding: 16px 0 0 0;
    }
  }
}