[data-type="instagram_block"]{

  &.content_block.instagram_cotnainer{
    padding: 120px 0 120px;
  }

  .revolver_navigation_wrapper{
    display: none;
  }

  .instagram_title{
    padding: 0 0 0 0;

    h2{
      text-align: center;
    }
  }

  .instagram_gallery{

    .swiper-wrapper{
      flex-flow: row wrap;
      // height: 604px;
    }

    .swiper-slide{
      flex-shrink: 1;
      overflow: hidden;
    }
  }

  .instagram_item{
    width: 288px;
    height: 288px;
    margin: 24px 24px 0 0;
    border: 1px solid #DADEE1;
    border-radius: 8px;

    &:nth-of-type(4n){
      margin: 24px 0 0 0;
    }
    
    img{
      display: block;
      width: 288px;
      height: 288px;
    }
  }

  .instagram_link{
    width: 288px;
    height: 288px;
    background: url(/img/instagram/instagram_link.svg);
    background-size: contain;
  }

  @include for-pad{

    &.content_block.instagram_cotnainer{
      width: 768px;
      padding: 40px 16px 48px 16px;
    }

    .instagram_title{
      padding: 0 0 4px 0;
    }  
    
    .instagram_gallery{
      width: 100%;

      .swiper-wrapper{
        height: 500px;
      }
    }

    .instagram_item{
      width: 234px;
      height: 235px;
      margin: 16px 16px 0 0;
      
      &:nth-of-type(4n){
        margin: 16px 16px 0 0;
      }

      &:nth-of-type(3n + 5){
        margin: 16px 0 0 0;
      }

      img{
        width: 235px;
        height: 235px;
      }
    }

    .instagram_item:nth-of-type(-n + 2){
      display: none;
    }
  
    .instagram_link{
      width: 235px;
      height: 235px;
    }
  }

  @include for-mobile{

    &.content_block.instagram_cotnainer{
      padding: 32px 0 24px 0;
    }

    .revolver_navigation_wrapper{
      display: flex;
      height: auto;
    }

    .instagram_gallery{
      width: 288px;
      padding: 16px 0 0 0;

      .swiper-wrapper{
        height: 288px;
        padding: 0 0 16px 0;
        flex-flow: row nowrap;
      }

      .swiper-slide{
        flex-shrink: 0;
      }
    }

    .instagram_item{
      margin: 0 0 0 0;
    }
  }
}