[data-type="reviews_block"]{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  padding: 48px 0 80px 0;
  background: url(/img/wave_bg.png);
  

  .reviews_title{
    width: 1016px;

    h2{
      text-align: center;
      color: $headerBlack;
    }

    .button_wrapper{
      display: flex;
      justify-content: center;
      padding: 16px 0 32px 0;
    }
  }

  .review_popup_button{
    margin: 0 0 0 16px;
    padding: 10px 40px 10px 40px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.02em;
  }

  .reviews_wrapper{
    width: 100%;
    height: 100%;

    .revolver_navigation_wrapper{
      height: auto;
      padding: 24px 0 0 0;
    }
  }

  .review_item_wrapper{
    position: relative;
    width: 600px;
    padding: 32px 40px 32px 40px;
    background: #ffffff;
    box-shadow: 0px 5px 20px rgba(15, 4, 61, 0.1);
    border-radius: 8px;

    hr{
      width: 468px;
      height: 1px;
      margin-left: auto;
      background-color: #dadee1;
      text-align: end;
    }
  }

  .big_quotes{
    position: absolute;
    top: 16px;
    left: 40px;
    width: 37px;
    height: 24px;
    background: url(/img/big_quotes.svg);
  }

  .review_text{
    position: relative;
    padding: 24px 0 16px 0;

    p{
      line-height: 26px;
      letter-spacing: 0.01em;
    }

    .show_all{
      height: 0;
      overflow: hidden;
    }

    &._compact{
      height: 300px;
      overflow: hidden;

      .show_all{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: auto;
        padding: 16px 0 16px 0;
        background: linear-gradient(rgba(255, 255, 255, 0) 0%, #FFFFFF 30%);
      }
    }
  }

  @include for-pad{
      padding: 40px 0 56px 0;
  
    .reviews_title{
      width: 736px;
    
      .button_wrapper{
        padding: 16px 0 24px 0;
      }
    }
  }

  @include for-mobile{
      padding: 48px 16px 40px 16px;
      background: url(/img/wave_bg.png);
  
    .reviews_title{
      width: 100%;
  
      .button_wrapper{
        padding: 16px 0 24px 0;
        flex-flow: column nowrap;
        align-items: center;
      }

      ._button._button_light._button_to_all{
        border: none;
        background: transparent;
        padding: 0 0 0 0;
  
        span{
          border-bottom: 1px solid $headerBlack;
        }
      }
    }

    .review_popup_button{
      margin: 16px 0 0 0;
    }

    .review_item_wrapper{
      width: 100%;
      padding: 40px 16px 24px 16px;

      hr{
        width: calc(100% - 50px);
      }
    }

    .big_quotes{
      top: 24px;
      left: 12px;
    }
  }
}