[data-page-type="service_page"]{

  .content_block.title_container{
    width: 100%;
    background: radial-gradient(circle at 0 100%,#fff9f0 60%,#FBEDD8 calc(60% + 1px));

    .popup_button{
      padding: 16px 33px 16px 33px;
    }

    .top_img{
      position: absolute;
      bottom: 0px;
      right: 104px;
      width: 400px;
      height: 288px;
      background: url(/img/service_title_img.png);
    }
  }

  h2._custom_header,
  h3._custom_header
  h4._custom_header{
    padding: 0 0 32px 0;
  }

  ._custom_service_block{
    width: 1016px;
    margin: auto;
  }

  .big_number_list{
    padding: 0 0 24px 0;
  }

  ._custom_text_block{
    display: flex;
    padding: 0 0 32px 0;

    p{
      line-height: 24px;
      letter-spacing: 0.01em;
    }
  }

  ._custom_inline_img{
    // display: block;
    // width: 100%;
    // height: auto;
    float: left;
    margin: 0 24px 12px 0;
  }
  
  .title_wrapper{
    position: relative;
    width: 1016px;
    margin: 0 auto;
    padding: 56px 16px 64px 16px;
  }

  .breadcrumbs_wrapper{
    padding: 0 20px 0 0;
  }

  .breadcrumbs{
    position: relative;
    margin: 0 20px 0 0;

    &:before{
      content: "→";
      position: absolute;
      right: -20px;
    }

    &:last-of-type:before{
      content: none;
    }
  }

  h1{
    padding: 16px 0 24px 0;
  }

  .content_block.page_menu_container{
    display: flex;
    flex-flow: row nowrap;
    padding: 40px 0 48px 0;

  }

  .service_description{
    width: 624px;
    margin: 0 96px 0 0;
    line-height: 26px;
    letter-spacing: 0.01em;

    p{
      line-height: 26px;
      letter-spacing: 0.01em;
    }

    .read_more{
      display: none;
    }
  }

  .page_menu_wrapper{
    padding: 8px 0 0 0;

    h4{
      position: relative;
      padding: 0 0 16px 0;

      &:before{
        content: '';
        position: absolute;
        top: -9px;
        left: -56px;
        width: 48px;
        height: 48px;
        background: url(/img/book_icon.svg);
        background-size: contain;
      }
    }
  }

  .chapter_link_wrapper{
    padding: 0 0 12px 0;
  }

  .chapter_link{
    position: relative;

    &:before{
      content: '— ';
      position: absolute;
      left: -24px;
    }
  }

  .content_block.subservice_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 48px auto;
    padding: 32px 0 32px 48px;
    background: $lightBG;
    border-radius: 8px;

    .collapse_wrapper{
      display: none;
    }
  }
  .service_image_wrapper{

    img{
      width: 96px;
      height: 96px;
    }
  }

  .subservice_listing{
    display: flex;
    flex-flow: row wrap;
    width: 808px;
  }

  .subservice_listing_item{
    width: 240px;
    margin: 0 32px 12px 0;
  }

  .subservice_listing_item:nth-of-type(3n){
    margin: 0 24px 12px 0;

  }

  .content_block.prices_wrapper{
    position: relative;
    margin: 0 auto 48px auto;
    padding: 24px 32px 24px 32px;
    border: 1px solid #DADEE1;
    border-radius: 8px;

    &._compact{
      overflow: hidden;
      height: 384px;
    }

    h2{
      padding: 0 0 24px 0;
    }

    .show_all{
      position: absolute;
      width: 100%;
      padding: 24px 32px 24px 32px;
      bottom: 0;
      background: linear-gradient(rgba(255, 255, 255, 0) 10%, #ffffff 30%);
    }
  }

  .service_price_wrapper{
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    padding: 12px 0 12px 4px;
  }

  .service_price_name{
    max-width: 704px;

    p{
      position: relative;
      display: inline;
      background-color: #ffffff;
      line-height: 26px;
      letter-spacing: 0.01em;
    }
  }

  .dot_tail{
    position: absolute;
    bottom: 20px;
    left: 4px;
    width: 945px;
    border-bottom: 1px dotted $textColor;
  }

  .service_price_points{
    flex-grow: 1;
    height: 15px;
  }

  .service_price_value{
    position: relative;
    display: flex;
    align-items: flex-end;
    padding: 0 0 3px 0;
    background: #ffffff;
    font-weight: 500;

    &:before{
      content: "";
      width: 5px;
      height: 100%;
      background: #ffffff;
    }
  }

  .content_block.doctors_container{
    width: 100%;
    padding: 0 0 48px 40px;

    .swiper-slide{
      flex-shrink: 1;
    }

    ._button._button_light{
      padding: 9px 16px 9px 16px;
    }
  }

  .doctors_wrapper .swiper-wrapper{
    padding: 4px 0 32px 0;
  }

  .doctors_title{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 0 0 32px 0;

    h2{
      padding: 0 12px 0 0;
    }

    form{
      position: relative;
      top: 4px;
    }
  }

  .content_note{
    position: relative;
    width: 1016px;
    padding: 32px 16px 32px 80px;
    margin: 0 auto 48px auto;
    background: $lightBG;
    border-radius: 8px;

    &:before{
      content: '';
      position: absolute;
      width: 48px;
      height: 48px;
      top: 32px;
      left: 16px;
      background: url(/img/info_icon.svg);
    }

    &._advantages:before{
      top: 24px;
      background: url(/img/pluses.svg);
      background-size: contain;
    }

    &._disadvantages:before{
      top: 24px;
      background: url(/img/minuses.svg);
      background-size: contain;
    }

    p,
    span,
    li{
      line-height: 26px;
      letter-spacing: 0.01em;
    }
  }

  .content_note._book:before{
    background: url(/img/book_icon.svg);
    background-size: contain;
  }

  .big_number_list ol{
    list-style-type: none;
    counter-reset: num;
    padding: 0 0 24px 0;

    li{
      position: relative;
      margin: 0 0 0 48px;
      padding: 24px 0 0 0;

      &:before{
        content: counter(num);
        counter-increment: num;
        position: absolute;
        top: calc(50% - 20px);
        left: -64px;
        width: 48px;
        font-weight: 300;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 0.01em;
        text-align: center;
        color: $baseColor;
      }

      &:after{
        content: "";
        position: absolute;
        bottom: 0;
        left: calc(50% - 373px);
        width: 650px;
        height: 1px;
        background: #DADEE1;
      }

      p{
        padding: 0 0 24px 0;
        line-height: 26px;
        letter-spacing: 0.01em;
      }

      // hr{
      //   width: 650px;
      //   height: 1px;
      //   margin: 0 auto;
      //   background-color: #dadee1;
      //   text-align: center;
      // }

    }

    li:last-of-type{
      &:after{
        content: none;
      }
    }
  }

  .content_block.service_video_container{
    width: 100%;
    padding: 0 0 48px 0;

    .swiper-slide{
      width: 496px;
      flex-shrink: 1;
    }

    .content_note{
      margin: 48px auto 0;

      &:before{
        background: url(/img/book_icon.svg);
      }
    }
  }

  ol{
    list-style-type: none;
    counter-reset: num;
    padding: 8px 0 0 0;

    li{
      position: relative;
      margin: 0 0 0 29px;
      padding: 0 0 8px 0;

      &:before{
        content: counter(num)". ";
        counter-increment: num;
        position: absolute;
        width: 20px;
        left: -28px;
        // text-align: center;
      }
    }
  }

  .service_video_wrapper{
    padding: 0 0 0 40px;

    .swiper-wrapper{
      padding: 0 0 24px 0;
    }

    .revolver_navigation_wrapper,
    .revolver_pagination{
      display: none;
    }
  }

  .service_video_title{
    padding: 0 0 24px 0;
  }

  .service_video_item_container{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    p{
      padding: 4px 0 0 0;
      font-size: 12px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 0.02em;
      color: $secondaryTextColor;
    }
  }

  .service_video_item_wrapper{
    position: relative;
  }

  .content_block.when_say_container{

    h4{
      padding: 0 0 24px 0;
    }
  }

  // .content_note._dashes{

  ul{
    list-style-type: none;
    padding: 8px 0 0 0;

    li{
      position: relative;
      margin: 0 0 0 29px;
      padding: 0 0 8px 0;

      &:before{
        content: "— ";
        position: absolute;
        width: 20px;
        left: -28px;
      }
    }
  }
  // }

  .content_block.photo_example_wrapper{
    width: 100%;
    padding: 0 0 48px 0;

    .swiper-slide{
      flex-shrink: 1;
    }

    h3{
      padding: 0 0 24px 0;
    }
  }

  .photo_gallery_wrapper {
    padding: 0 40px 0 40px;

    .swiper-wrapper{
      padding: 0 0 24px 0;
    }
  }

  .before_after_gallery_wrapper{
    padding: 0 40px 0 40px;

    .swiper-wrapper{
      padding: 0 0 24px 0;
    }
  }

  .before_after_item_wrapper{
    width: 496px;
    height: auto;

    img{
      width: 496px;
      height: auto;
    }
  }

  .twentytwenty-handle{
    width: 44px;
    height: 44px;
    border: none;
    background: rgba(255, 249, 240, 0.4);

    &:before,
    &:after{
      width: 2px;
      background: #FFF9F0;
      opacity: 0.4;
    }

    &:before{
      bottom: 57%;
    }

    &:after{
      top: 55%;
    }
    
    .twentytwenty-left-arrow,
    .twentytwenty-right-arrow{
      border: none;
      border-left: 2px solid #782F40;
      border-bottom: 2px solid #782F40;
      width: 12px;
      height: 12px;
      margin: 0 0 0 0;
      opacity: 1;
    }
    
    .twentytwenty-left-arrow{
      transform: rotate(45deg);
      top: 15px;
      left: 8px;
    }
    .twentytwenty-right-arrow{
      transform: rotate(-135deg);
      top: 15px;
      left: auto;
      right: 8px;
    }
  }

  .twentytwenty-overlay{

    &:hover{
      background: none;
    }

    .twentytwenty-before-label,
    .twentytwenty-after-label{
      opacity: 1;

      &:before{
        top: auto;
        bottom: 12px;
        background: none;
        margin: 0 0 0 0;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.01em;
      }
    }

    .twentytwenty-before-label{

      &:before{
        left: calc(25% - 43px);
      }
    }

    .twentytwenty-after-label{

      &:before{
        left: auto;
        right: calc(25% - 43px);
      }
    }

  }

  .photo_example_image{
    width: 496px;
    height: 336px;
    border-radius: 4px;
  }

  .content_block.service_advantages_wrapper{
    width: 100%;
  }

  .content_block.director_word_container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 0 48px 0;
    padding: 32px 0 56px 0;
    background: radial-gradient(circle at 100% 50%, #FFF9F0 53%, #FBEDD8 calc(53% + 1px));
  }

  .director_word_wrapper{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    width: 704px;
    margin: 0 0 0 368px;

    h3{
      padding: 0 0 24px 0;
      text-align: start;
    }

    p{
      line-height: 26px;
      letter-spacing: 0.01em;
      color: $headerBlack;
    }
  }

  .director_word_img{
    position: absolute;
    left: -368px;
    width: 320px;
    height: 320px;
    background: url(/img/vrachi/pasryan0001.jpg);
    border-radius: 4px;
  }

  .director_word_signature_wrapper{
    position: relative;
    padding: 16px 280px 0 0;

    p{
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.02em;
      color: $textColor;
    }

    span{
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.01em;
      color: $headerBlack;
    }
  }

  .director_word_signature{
    position: absolute;
    top: 16px;
    right: 56px;
    width: 184px;
    height: 72px;
    background: url(/img/sign.png);
  }

  .adwises_container{

    & > p{
      width: 1016px;
      margin: 0 auto;
      padding: 32px 0 32px 0;
      line-height: 26px;
      letter-spacing: 0.01em;
    }

    h3{
      padding: 48px 0 24px 0;
    }
  }

  .content_note.analysis_container{
    display: flex;
    flex-flow: row wrap;

    &:before{
      top: 40px;
      background: url(/img/+−.svg);
      background-position: top;
      background-repeat: no-repeat;
    }

    h4{
      width: 100%;
      padding: 0 0 16px 0;
      text-align: start;
    }
  }

  .analysis_wrapper{
    width: 50%;

    span{
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.01em;
      color: $headerBlack;
    }

    ul{
      list-style-type: none;
      padding: 8px 0 0 0;

      li{
        position: relative;
        margin: 0 0 0 29px;
        padding: 0 0 8px 0;

        &:before{
          content: "";
          position: absolute;
          width: 12px;
          height: 24px;
          left: -28px;
          background: url(/img/+.svg);
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }

    &._disadvantages{

      ul{

        li:before{
          background: url(/img/−.svg);
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }
  }

  .content_block.recall_wrapper[data-page-type="recall_form"]{
    padding: 24px 0 48px 0;

    form{
      background: $lightBG;
      border-radius: 8px;
    }
  }

  .content_block.doctor_reviews{
    width: 100%;
    padding: 0 0 48px 0;
  }

  .content_block.faq_container{
    padding: 24px 0 16px 0;

    h2{
      padding: 0 0 24px 0;
    }
  }

  .content_block.checkup_container{
    display: flex;

    h4{
      min-width: 224px;
      margin: 0 24px 0 0;
      text-align: start;
    }
  }

  .auditor_wrapper{
    display: flex;
    padding: 0 0 0 24px;
    border-left: 1px solid #DADEE1;

    p{
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.02em;

      span:last-of-type{
        display: inline-block;
        padding: 4px 0 0 0;
      }
    }
  }
  
  .auditor_name{
    display: inline-block;
    border-bottom: 1px solid rgba(51, 54, 56, 0.4);
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: $headerBlack;
  }

  .auditor_image{
    min-width: 88px;
    height: 88px;
    margin: 0 24px 0 0;
    background: url('/img/vrachi/Dre_Victoria .png') no-repeat;
    background-size: auto 120px;
    background-position: 50% 40%;
    border-radius: 44px;
  }

  .content_block.rating_container{
    display: flex;
    margin: 48px auto 48px auto;
    padding: 16px 0 0 0;
    border-top: 1px solid #DADEE1;

    p{
      line-height: 24px;
      letter-spacing: 0.01em;
    }
  }

  .stars_empty,
  .stars_full{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: row-reverse nowrap;
    width: 100%;
    
    img{
      cursor: pointer;
      margin: 0 4px 0 4px;
    }
  }
  
  .stars_empty{

    label{
      cursor: pointer;
      width: 28px;
      height: 20px;
      padding: 0 4px 0 4px;
      background: url(/img/star-empty.svg);
      background-size: contain;
      background-repeat: no-repeat;
    }
    
    input{
      display: none;
      // opacity: 0;
    }
  }

  .stars_full{
    width: 100%;
    height: 20px;
    overflow: hidden;

    label:nth-last-of-type(1){
      position: absolute;
      left: -4px;
    }
    label:nth-last-of-type(2){
      position: absolute;
      left: 24px;
    }
    label:nth-last-of-type(3){
      position: absolute;
      left: 51px;
    }
    label:nth-last-of-type(4){
      position: absolute;
      left: 78px;
    }
    label:nth-last-of-type(5){
      position: absolute;
      left: 105px;
    }
  }
  
  .stars_wrapper{
    position: relative;
    width: 136px;
    height: 20px;
    margin: 0 4px 0 4px;


    &:hover{

      .stars_full label{
        opacity: 0;
      }

      .stars_empty label:hover,
      .stars_empty label:hover ~ label{
        background: url(/img/star-full.svg);
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

  }

  .votes_stars_value{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: $secondaryTextColor;
  }

  h2,
  h3,
  h4{
    text-align: center;
    color: $headerBlack;
  }

  .content_block{
    width: 1016px;
  }

  @include for-notdesc{

    .content_block.title_container{
      overflow: hidden;
    }

    h2._custom_header{
      padding: 0 0 24px 0;
    }

    .content_block.page_menu_container{
      flex-flow: column nowrap;
      padding: 24px 0 40px 0;
    }
    
    .service_description{
      order: 2;
      width: auto;
      margin: 0 0 0 0;
    }
    
    .page_menu_wrapper{
      order: 1;
      padding: 8px 0 24px 48px;

      h4{
        text-align: start;
      }
    }

    .service_video_wrapper{
      padding: 0 0 0 16px;

      .swiper-wrapper{
        padding: 0 0 24px 0;
      }

      .revolver_navigation_wrapper{
        display: flex;
      }

      .revolver_pagination{
        display: block;
      }
    }

    .photo_gallery_wrapper{
      padding: 0 16px 0 16px;

      .swiper-wrapper{
        padding: 0 0 24px 0;
      }
    }

    .director_word_wrapper{
      margin: 0 0 0 0;
      align-items: center;

      h3{
        padding: 24px 0 16px 0;
        text-align: center;
      }
    }

    .director_word_img{
      position: static;
    }
  }

  @include for-pad{

    ._custom_service_block{
      width: 736px;
    }

    .content_block.title_container{
      background: radial-gradient(circle at 0 55%,#fff9f0 70%,#fbedd8 calc(70% + 1px));

      .top_img{
        width: 352px;
        height: 256px;
        right: 28px;
        background-size: cover;
      }

      .popup_button{
        padding: 12px 33px 12px 33px;
      }
    }

    .title_wrapper{
      width: 768px;
      min-height: 272px;
      padding: 24px 16px 32px 16px;
    }

    h1{
      width: 480px;
      font-size: 44px;
      line-height: 54px;
    }

    .content_block.subservice_wrapper{
      margin: 0 auto 40px auto;
      padding: 16px 0 24px 40px;
    }

    .service_image_wrapper{

      img{
        width: 88px;
        height: 88px;
      }
    }

    .subservice_listing{
      width: 552px;
    }

    .subservice_listing_item{
      width: 248px;
      margin: 0 24px 12px 0;
    }

    .content_block.prices_wrapper{
      margin: 0 auto 40px auto;
      padding: 24px 16px 32px 16px;

      .show_all{
        padding: 24px 16px 32px 16px;
      }
    }

    .dot_tail{
      width: 697px;
    }

    .service_price_name{
      max-width: 480px;
    }

    .content_block.doctors_container{
      padding: 0 0 40px 16px;
    }

    .doctors_title{
      flex-flow: column nowrap;
      align-items: center;

      h2{
        padding: 0 0 8px 0;
      }
    }

    .big_number_list ol{
      padding: 0 0 16px 0;
    }

    .content_block.service_video_container{
      padding: 0 0 40px 0;

      .content_note{
        margin: 40px auto 0;
      }
    }

    .content_block.recall_wrapper[data-page-type='recall_form']{
      padding: 16px 0 40px 0;
    }

    .content_block.photo_example_wrapper{
      padding: 0 0 40px 0;
    }

    .content_block.director_word_container{
      margin: 0 0 40px 0;
      padding: 32px 0 32px 0;
      background: #FBEDD8;
    }

    .director_word_wrapper{
      width: 736px;
    }

    .content_note{
      width: 736px;
      margin: 0 auto 40px auto;
    }

    .content_block{
      width: 736px;
    }

    .adwises_container{

      & > p{
        width: 768px;
        padding: 24px 16px 24px 16px;
      }

      h3{
        padding: 40px 0 24px 0;
      }
    }

    .content_block.doctor_reviews{
      padding: 0 0 40px 0;
    }

    .content_block.faq_container{
      padding: 0 0 8px 0;
    }

    .item_answer{
      width: 720px;
    }

    .content_block.rating_container{
      margin: 40px auto 40px auto;
    }
  }

  @include for-mobile{

    ._custom_service_block{
      width: 100%;
    }

    h2._custom_header,
    h3._custom_header
    h4._custom_header{
      padding: 0 16px 24px 16px;
    }

    ._custom_text_block{
      padding: 0 16px 32px 16px;
    }

    ._custom_inline_img{
      width: 100%;
      margin: 0 0 12px 0;
    }

    .content_note{
      width: calc(100% - 32px);
      margin: 0 auto 32px auto;
      padding: 16px 12px 16px 52px;

      &:before{
        top: 16px;
        left: 12px;
        width: 32px;
        height: 32px;
        background-size: contain;
      }
    }

    .content_block{
      width: 100%;
    }

    .content_block.title_container{
      background: radial-gradient(circle at 0 50%,#fff9f0 60%,#FBEDD8 calc(60% + 1px));

      .popup_button{
        padding: 8px 17px 8px 17px;
      }

      .top_img{
        right: -64px;
        bottom: -2px;
        width: 264px;
        height: 192px;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    h1{
      width: 212px;
      padding: 0 0 16px 0;
      font-weight: 300;
      font-size: 26px;
      line-height: 30px;
    }

    .title_wrapper{
      width: 100%;
      min-height: 192px;
      margin: 0 0 0 0;
      padding: 32px 16px 40px 16px;
    }

    .breadcrumbs{
      display: none;
    }

    .content_block.page_menu_container{
      padding: 24px 16px 32px 16px;
    }

    .service_description{

      p{
        word-break: break-all; // убрать после того, как починю отображение html тегов
  
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;

        &._active{
          overflow: auto;
          display: block;
        }
      }

      .read_more{
        display: inline;
      }
    }

    .content_block.subservice_wrapper{
      flex-flow: column nowrap;
      width: calc(100% - 32px);
      margin: 0 16px 32px 16px;
      padding: 16px 12px 24px 12px;

      .collapse_wrapper{
        display: block;
        align-self: flex-start;
      }
    }

    .subservice_listing{
      flex-flow: column nowrap;
      width: 100%;
      margin: 0 0 12px 0;
      padding: 12px 0 0 0;

      &._compact{
        overflow: hidden;
        height: 157px;
      }
    }

    .subservice_listing_item{
      width: 100%;
      margin: 0 0 12px 0;

      &:last-of-type{
        margin: 0 0 0 0;
      }
    }

    .content_block.prices_wrapper{
      margin: 0 16px 32px 16px;
      padding: 16px 12px 24px 12px;
      width: calc(100% - 32px);

      h2{
        padding: 0 4px 16px 4px;
      }

    }
    
    // .price_item_wrapper{
    //   flex-flow: column nowrap;
    //   border-bottom: 1px solid #DADEE1;

    //   .price_name{
    //     padding: 12px 0 4px 0;
    //   }

    //   .price_value{
    //     padding: 0 0 12px 0;
    //   }

    //   .line{
    //     display: none;
    //   }

    //   &:last-of-type{
    //     border-bottom: 1px solid transparent; // не работает, разобраться
    //   }
    // }

    .service_price_wrapper{
      display: flex;
      flex-flow: column nowrap;
      padding: 12px 0 12px 0;
      border-bottom: 1px solid #DADEE1;

    }
    
    .service_price_wrapper:nth-last-of-type(2){
      border-bottom: none;
    }

    .dot_tail,
    .service_price_points{
      display: none;
    }

    .service_price_name{
      max-width: none;
  
      p{
        display: block;
        line-height: 20px;
      }
    }

    .service_price_value{
      padding: 4px 0 0 0;

      &:before{
        content: none;
      }
    }  

    .content_block.doctors_container{
      padding: 0 0 32px 16px;

      ._button._button_light{
        padding: 0 0 0 0;
      }
    }

    .doctors_title{
      flex-flow: column nowrap;
      align-items: center;
      padding: 0 0 24px 0;

      h2{
        padding: 0 0 8px 0;
      }

      form{
        position: static;
        padding: 0 0 0 0;
      }
    }

    .content_block.description_wrapper{
      padding: 0 16px 0 16px;
    }

    .big_number_list{
      padding: 0 16px 0 16px;

      ol{
        padding: 0 0 8px 0;
      }
    }

    .big_number_list ol li{
      margin: 0 0 0 32px;
      padding: 16px 0 0 0;

      &:before{
        top: 16px;
        left: -48px;
      }

      &:after{
        left: -32px;
        width: calc(100% + 32px);
      }

      // hr{
      //   width: 100%;
      // }
    }

    .content_block.service_video_container{
      padding: 0 0 32px 0;

      .content_note{
        width: calc(100% - 32px);
        margin: 32px 16px 0 16px;

        &:before{
          top: 8px;
          left: 4px;
          width: 48px;
          height: 48px;
          background-size: contain;
        }
      }

      .swiper-slide{
        width: 288px;
        flex-shrink: 0;

        &:last-of-type{
          margin: 0 16px 0 0;
        }
      }

      .servise_video{
        width: 288px;
        height: 159px;
      }
    }

    .service_video_title{
      padding: 0 0 16px 0;
    }

    .service_video_wrapper{
      padding: 0 0 0 16px;

      .swiper-wrapper{
        padding: 0 0 16px 0;
      }
    }

    .content_block.when_say_container{
      padding: 0 16px 0 16px;

      h4{
        padding: 0 0 8px 0;
      }
    }

    .content_block.photo_example_wrapper{
      padding: 0 0 32px 0;

      h3{
        padding: 0 0 16px 0;
      }
    }
    
    .photo_gallery_wrapper{
      padding: 0 16px 0 16px;

      .swiper-wrapper{
        padding: 0 0 16px 0;
      }
    }

    .before_after_gallery_wrapper{
      padding: 0 16px 0 16px;

      .swiper-wrapper{
        padding: 0 0 40px 0;
      }
    }

    .before_after_item_wrapper{
      width: 288px;
  
      img{
        width: 288px;
      }
    }

    .content_block.recall_wrapper[data-page-type='recall_form']{
      padding: 0 0 32px 0;
    }

    .photo_example_image{
      width: 288px;
      height: 196px;
    }

    .content_block.director_word_container{
      margin: 0 0 32px 0;
      padding: 32px 16px 24px 16px;
      background: #FBEDD8;
    }

    .director_word_img{
      width: 288px;
      height: 288px;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .director_word_wrapper{
      width: 100%;
    }

    .director_word_signature_wrapper{
      padding: 16px 0 0 0;
    }

    .director_word_signature{
      display: none;
    }

    .adwises_container > p{
      width: 100%;
      padding: 24px 0 24px 0;
    }

    .adwises_container{
      padding: 0 16px 0 16px;

      h3{
        padding: 32px 0 24px 0;
      }
    }
    
    .content_note._advantages:before{
      top: 16px;
      left: 12px;
    }

    .content_note.analysis_container:before{
      top: 22px;
      background-size: contain;
    }

    .analysis_wrapper{
      width: 100%;
    }

    .content_block.recall_wrapper{

      h2{
        text-align: start;
      }
    }
    
    .content_block.doctor_reviews{
      padding: 0 0 32px 0;
    }

    .content_block.faq_container{
      padding: 0 16px 16px 16px;

      h2{
        padding: 0 0 16px 0;
      }
    }

    .item_answer{
      width: calc(100% - 12px);
      margin: 16px 0 0 12px;
      padding: 0 0 0 12px;
    }

    .content_block.checkup_container{
      flex-flow: column nowrap;
      padding: 0 16px 0 16px;

      h4{
        width: auto;
        padding: 0 0 8px 0;
        font-weight: 500;
      }
    }

    .auditor_wrapper{
      padding: 0 0 0 0;
      border: none;

      p span:last-of-type{
        display: inline-block;
        padding: 4px 0 0 0;
      }
    }

    .auditor_name{
      font-size: 16px;
      line-height: 20px;
    }

    .content_block.rating_container{
      flex-flow: row wrap;
      margin: 32px 0 24px 0;
      padding: 16px 16px 0 16px;

      p:first-of-type{
        flex-grow: 1;
        padding: 0 0 4px 0;
      }
    }

    .stars_wrapper{
      margin: 0 8px 0 0;
    }
  }
}