<div data-page-type="about">

  <div class="content_block title_container">

    <a class="breadcrumbs _menu_link" href="/">Центр Эстетической Стоматологии</a>

    <h1>О компании</h1>

    <div class="welcome_word_wrapper">

      <img class="welcome_img" src="/img/about-photo.png">

      <div class="welcome_word_compact">

        <p>
          Центр Эстетической Стоматологии успешно развивается с 1997 года и уже более 
          20 лет занимает лидирующие позиции среди российских стоматологических клиник 
          благодаря достижению наилучших результатов в различных областях стоматологии.
        </p>

        <button class="_button _button_light">Читать обращение руководства</button>

      </div>

    </div>

  </div>

  {{this.render('/components/advantages.twig', {"title": "Преимущества"}) | raw}}

  <div class="content_block equipment_container swiper-container">

    <h2>Наше оборудование</h2>

    <div class="swiper-wrapper">

      <div class="equipment_item_wrapper swiper-slide">

        <img src="/img/equipment/sirona_c8_img.png" alt="">
        <h5>Стоматологические установки SIRONA&nbsp;C8+</h5>
        <p>
          Эргономичное, высококлассное кресло для лечения пациентов. Установка имеет 
          высокотехнологичное оборудование, множество опционных устройств. Благодаря 
          отличному дизайну, качественным материалам и удобному интерфейсу SIRONA C8+ 
          используется по всему миру. Кресло очень комфортное для пациентов и 
          отвечает самым высоким требованиям гигиены.
        </p>

      </div>

      <div class="equipment_item_wrapper swiper-slide">

        <img src="/img/equipment/carl_zeiss_img.png" alt="">
        <h5>Операционный микроскоп для стоматологии Carl&nbsp;Zeiss&nbsp;OPMI&nbsp;Pico</h5>
        <p>
          Позволяет проводить любые стоматологические процедуры на совершенно другом –
          наиболее качественном уровне. Он является мультифункциональным аппаратом, 
          позволяет увидеть мелкие детали и анатомические особенности. Обеспечивает 
          качественное лечение зубов пациенту и удобство работы доктору.
        </p>

      </div>

      <div class="equipment_item_wrapper swiper-slide">

        <img src="/img/equipment/orthophos_xg_img.png" alt="">
        <h5>Ортопантомограф ORTHOPHOS XG&nbsp;5 Sirona&nbsp;Dental</h5>
        <p>
          Современный панорамный рентгеновский аппарат, который имеет широкий спектр 
          возможностей. Благодаря различным программам позволяет осуществить тщательную 
          и точную диагностику всевозможных стоматологических заболеваний. 
          Характеризуется минимальной лучевой нагрузкой, поэтому может использоваться у 
          детей, пожилых, беременных.
        </p>
        
      </div>


      <div class="equipment_item_wrapper swiper-slide">

        <img src="/img/equipment/AFMP_front_img.png" alt="">
        <h5>AIRFLOW PROPHYLAXIS MASTER</h5>
        <p>
          Современный аппарат для профилактики и лечения стоматологических заболеваний с 
          помощью профессиональной гигиены. Наконечник быстро, безболезненно и эффективно 
          удаляет все виды зубных отложений, может использоваться для лечения каналов, 
          удаления временных пломб, подготовки полостей, ортопедических процедур и т. д.
        </p>

      </div>

      <div class="equipment_item_wrapper swiper-slide">

        <img src="/img/equipment/KaVo_MASTERsurg_LUX_img.png" alt="">
        <h5>Физиодиспенсер KaVo MASTERsurg LUX</h5>
        <p>
          Используется для хирургических вмешательств, в особенности для имплантологии. 
          Физиодиспенсер создает благоприятные условия для проведения вмешательств, 
          снижает риск осложнений к минимуму, обеспечивает отличные результаты. Данная 
          модель надежная, эргономичная, удобная в использовании для врача и пациента.
        </p>

      </div>

      <div class="equipment_item_wrapper swiper-slide">

        <img src="/img/equipment/varios970_img.png" alt="">
        <h5>Многофункциональный автономный ультразвуковой скалер с оптикой Varios&nbsp;970&nbsp;LUX</h5>
        <p>
          Позволяет провести идеальную профессиональную чистку и лечение заболеваний 
          тканей пародонта. Имеет множество насадок для различных клинических случаев. 
          Наконечник скалера имеет два светодиода, которые гарантируют четкое изображение 
          в области вмешательств. 
        </p>

      </div>

      <div class="equipment_item_wrapper swiper-slide">

        <img src="/img/equipment/euroklav_img.png" alt="">
        <h5>Автоклавы Melag Еuroklav 23&nbsp;VS+</h5>
        <p>
          Представляют собой высококачественное оборудование для обработки медицинского 
          инструментария с целью дезинфекции и стерилизации. Аппараты отвечают всем требования, 
          проводят безопасное предвакуумирование и поствакуумирование, идеально очищают и 
          подготавливают инструментарий к работе. В автоклаве имеется автоматический контроль 
          воды и микропроцессор для контроля процесса стерилизации.
        </p>

      </div>

      <div class="equipment_item_wrapper swiper-slide">

        <img src="/img/equipment/bluephase_img.png" alt="">
        <h5>Беспроводная светодиодная полимеризационная лампа Bluephase&nbsp;N</h5>
        <p>
          Используется для постановки пломб с помощью современных материалов. Bluephase N — это 
          мощная лампа, которая отвечает высочайшим стандартам качества. Изделие имеет множество 
          инновационных функций, позволят работать без перерыва, имеет широкий и точечный 
          световоды для применения в различных клинических ситуациях. Лампа имеет небольшой вес, 
          бесшовный корпус для полноценной дезинфекции.
        </p>

      </div>

    </div>

    <div class="revolver_navigation_wrapper _hidden">

      <div class="swiper-button-prev revolver_navigation"></div>
      {# <div class="swiper-pagination revolver_pagination"></div> #}
      <div class="swiper-button-next revolver_navigation"></div>

    </div>

  </div>

  <div class="content_block success_description_container">

    <h2>Основы нашего успеха</h2>

    <div class="success_description_wrapper">

      <div class="success_description_item">

        <h3>Анестезиология</h3>
        <p>
          Использование анестетиков последнего поколения, контроль индивидуальных 
          особенностей наших пациентов, седация или «лечение во сне» — все это 
          позволило нам превратить процесс лечения в приятное время занятия 
          собственным здоровьем.
        </p>

      </div>
      <div class="success_description_item">

        <h3>Диагностика</h3>
        <p>
          Современное диагностическое оборудование и инновационные методы, 
          позволяющие максимально точно выявить причину заболевания зубов, а также 
          предрасполагающие факторы организма. Только детальный анализ всех органов 
          пациента дает нам эту возможность.
        </p>

      </div>

      <div class="success_description_item">

        <h3>Имплантология</h3>
        <p>
          Применение эксклюзивных и традиционных методик в сочетании с комплексной 
          диагностикой полости рта и всего организма в целом — гарантия быстрого 
          приживления имплантатов без осложнений на долгие годы! Мы используем только 
          самые лучшие материалы и инструменты. ЦЭС уже несколько лет является 
          признанным лидером в сфере установки дентальных имплантатов.
        </p>

      </div>

      <div class="success_description_item">

        <h3>Терапия</h3>
        <p>
          Каждая клиника оснащена самым современным диагностическим и манипуляционным 
          оборудованием. Уникальные возможности для спасения даже самых «безнадежных» 
          зубов с помощью внутриканальных микроскопов при помощи 25-кратного увеличения. 
          Без использования микроскопа такое лечение выполнить качественно просто 
          невозможно.
        </p>

      </div>

      <div class="success_description_item">

        <h3>Гигиена и отбеливание</h3>
        <p>
          Одним из важнейших направлений нашей деятельности является предупреждение 
          заболеваний, то есть профилактика и профессиональная гигиена полости рта. 
          Не менее двух раз в год гигиенисты наших клиник идеально очистят и отбелят 
          Ваши зубы, что защитит их от разрушения, а Ваши десны — от воспаления!
        </p>

      </div>

      <div class="success_description_item">

        <h3>Зуботехническая лаборатория</h3>
        <p>
          Основная часть зубопротезных работ производится в одной из лучших лабораторий 
          г. Москвы «Дентстар» и отдельная — в лаборатории Берлина.
        </p>

      </div>

    </div>

  </div>

</div>