<div data-page-type="about">

  <div class="content_block title_container">

    <a class="breadcrumbs _menu_link" href="/">Центр Эстетической Стоматологии</a>

    <h1>О компании</h1>

    <div class="welcome_word_wrapper">

      <div class="welcome_img"></div>

      <div class="welcome_word_compact">

        <p>
          Центр Эстетической Стоматологии успешно развивается с 1997 года и уже более 
          20 лет занимает лидирующие позиции среди российских стоматологических клиник 
          благодаря достижению наилучших результатов в различных областях стоматологии.
        </p>

        <button class="_button _button_light">Читать обращение руководства</button>

      </div>

    </div>

  </div>

  {{this.render('/components/advantages.twig', {"title": "Преимущества"}) | raw}}



</div>