<div data-page-type="licenses">

  <div class="content_block title_container">
    
    <ul class="breadcrumbs_wrapper" itemscope itemtype="https://schema.org/BreadcrumbList">

      <li class="breadcrumbs_item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        <a class="_menu_link_no_borders" href="/" itemtype="https://schema.org/Thing" itemprop="item">
          <span class="item_name" itemprop="name"><span class="last_breadcrumb">✅</span> Центр Стоматологической Имплантологии</span>
        </a>
        <meta itemprop="position" content="1" />
      </li>
      
    </ul>

    <h1>Лицензии и реквизиты ЦЭС</h1>

  </div>

  <div class="content_block company_info_wrapper">

    <div class="requisites_wrapper">

      <h4>Реквизиты</h4>

      <p class="requisites_raw">
        <span class="requisites_raw_title">Наименование организации: </span>
        ООО «Центр Стоматологической Имплантологии»
      </p>

      <p class="requisites_raw">
        <span class="requisites_raw_title">Юр. адрес: </span>
        107139, г. Москва, ул. Садовая-Спасская, дом 19, кор. I. Пом III Ком 1,3-11
      </p>

      <p class="requisites_raw">
        <span class="requisites_raw_title">Телефон: </span>
        +7 (499) 975-15-01, +7 (499) 975-26-62
      </p>

      <p class="requisites_raw">
        <span class="requisites_raw_title">ИНН: </span>
        9729287823
      </p>

      <p class="requisites_raw">
        <span class="requisites_raw_title">КПП:</span>
        770801001
      </p>

      <p class="requisites_raw">
        <span class="requisites_raw_title">Р/счет: </span>
        40702810738000248089
      </p>

      <p class="requisites_raw">
        <span class="requisites_raw_title">Банк: </span>
        ПАО Сбербанк г. Москва
      </p>

      <p class="requisites_raw">
        <span class="requisites_raw_title">БИК: </span>
        044525225
      </p>

      <p class="requisites_raw">
        <span class="requisites_raw_title">Корр. счёт: </span>
        30101810400000000225
      </p>

      <p class="requisites_raw">
        <span class="requisites_raw_title">ОГРН: </span>
        1197746510862
      </p>

      <p class="requisites_raw">
        <span class="requisites_raw_title">ОКПО: </span>
        41186710
      </p>

      <p class="requisites_raw">
        <span class="requisites_raw_title">ОКВЭД: </span>
        86.23
      </p>

    </div>

    <div class="document_templates_wrapper page_menu_wrapper">


      <h4>Документы</h4>

      <div class="document_template chapter_link_wrapper">
        <a class="chapter_link _link_black" href="/img/documents/dogovor2.pdf" download>Договор на оказание платных услуг</a>
      </div>

      <div class="document_template chapter_link_wrapper">
        <a class="chapter_link _link_black" href="/img/documents/ЧП спецоценка.pdf" download>Ведомости специальной оценки условий труда</a>
      </div>

    </div>

    <div class="other_info_wrapper">

      <p>
        Адрес и телефон органа исполнительной власти субъекта Российской
        Федерации в сфере охраны здоровья граждан, территориальный орган
        Федеральной службы по надзору в сфере здравоохранения и 
        территориального органа Федеральной службы по надзору в сфере 
        защиты прав потребителей и благополучия человека.
      </p>

      <p>
        Территориальный отдел Управления Федеральной службы по надзору в 
        сфере защиты прав потребителей и благополучия человека по городу 
        Москве в Юго-Западном административном округе города Москвы улица 
        Бутлерова, 7а, Москва, Россия, 117485 телефон/факс: (495) 779 35 88.
      </p>

    </div>

  </div>

  <div class="content_block clinic_licenses">

    <h2>Лицензии</h2>

    <div class="swiper_container licenses_wrapper">
  
      <div class="swiper-wrapper">



        {% for item in pageMedia.licenses %}
  
        <a class="swiper-slide lizcenz_item" href="/images/uploaded/licensesDocumentsPage/licenses/{{item.filepath}}">
          <img src="/images/uploaded/licensesDocumentsPage/licenses/thumbnail_{{item.filepath}}" alt="">
        </a>

        {% endfor %}
  
      </div>

      <div class="swiper-pagination revolver_pagination"></div>

      <div class="revolver_navigation_wrapper">
        <div class="swiper-button-prev revolver_navigation"></div>
        <div class="swiper-button-next revolver_navigation"></div>
      </div>
      
    </div>

  </div>

  <div class="content_block controlling_organizations_container">

    <h2>Контакты контролирующих организаций</h2>

    <p class="organization_item"><span class="organization_title">Департамент здравоохранения г.&nbsp;Москвы<br></span>
      107023, г.&nbsp;Москва, пл.&nbsp;Журавлева, д.&nbsp;12<br>
      Тел.: <a href="tel:84956528246">8 (495) 652-82-46</a>, <a href="tel:84959621333">8 (495) 962-13-33</a>
    </p>
    
    <p class="organization_item"><span class="organization_title">Министерство здравоохранения РФ<br></span>
      127994. г.&nbsp;Москва, ул.&nbsp;Рахмановский&nbsp;пер., д.&nbsp;3<br>
      Тел.: <a href="tel:84956284453">8 (495) 628-44-53</a>, <a href="tel:84956272944">8 (495) 627-29-44</a>, <a href="tel:84956272400">8 (495) 627-24-00</a>
    </p>

    <p class="organization_item"><span class="organization_title">Департамент здравоохранения г.&nbsp;Москвы<br></span>
      127006, г.&nbsp;Москва, Оружейный&nbsp;пер., д.&nbsp;43<br>
      Тел.: <a href="tel:84957777777">8 (495) 777-77-77</a><br>
      Email: <a class="_link_black" href="mailto:zdrav@mos.ru">zdrav@mos.ru</a>
    </p>
    
    <p class="organization_item"><span class="organization_title">Приемная Департамента здравоохранения г.&nbsp;Москвы<br></span>
      г.&nbsp;Москва, 2-й&nbsp;Щемиловский&nbsp;пер, д.&nbsp;4&nbsp;А, стр.&nbsp;4
    </p>

    <p class="organization_item"><span class="organization_title">Управление Федеральной службы по надзору в сфере защиты прав потребителей и благополучия человека по г.&nbsp;Москве<br></span>
      г.&nbsp;Москва, Графский&nbsp;переулок, д.&nbsp;4, к.&nbsp;2<br>
      Тел.: <a href="tel:84956167426">8 (495) 616-74-26</a>, <a href="tel:84956166146">8 (495) 616-61-46</a>
    </p>

    <p class="organization_item"><span class="organization_title">Федеральная служба по надзору в сфере здравоохранения<br></span>
      г.&nbsp;Москва, Славянская&nbsp;площадь, д.&nbsp;4, стр.&nbsp;1<br>
      Тел.: <a href="tel:84956984538">8 (495) 698-45-38</a>, <a href="tel:84995780230">8 (499) 578-02-30</a>
    </p>

    <p class="organization_item"><span class="organization_title">Территориальный отдел Управления Роспотребнадзора по г.&nbsp;Москве в ЦАО г.&nbsp;Москвы<br></span>
      (индекс отдела 23)<br>
      107031, г.&nbsp;Москва, Кузнецкий&nbsp;мост, д.&nbsp;1/8<br>
      Тел.: <a href="tel:84956924310">8 (495) 692-43-10</a><a href="tel:84956926819">8 (495) 692-68-19</a><br>
      Email: <a class="_link_black" href="mailto:cao@77.rospotrebnadzor.ru">cao@77.rospotrebnadzor.ru</a>, <a class="_link_black" href="mailto:rpncao@mail.ru">rpncao@mail.ru</a>
    </p>

  </div>

</div>