<div data-page-type="partners">

  <div class="content_block title_container">

    <a class="breadcrumbs _menu_link" href="/">Центр Эстетической Стоматологии</a>

    <h1>Партнёры</h1>

    <p>
      Неотъемлемой частью общей стратегии Центра эстетической стоматологии в области 
      развития и продвижения, является программа лояльности клиентов, направленная 
      на повышение эффективности взаимодействия с клиентами, с целью предложения 
      каждому из них уникального продукта или услуги. Среди наших партнеров крупнейшие 
      российские и зарубежные компании, все они много лет доверяют нашей 
      компетентности и качеству сервиса.
    </p>

    <p class="marketing_contacts">
      Отдел рекламы и продвижения: <a class="_link_black" href="mailto:ces_marketing@mail.ru">ces_marketing@mail.ru</a> 
    </p>

  </div>

</div>