<div data-page-type="partners">

  <div class="content_block title_container">

    <a class="breadcrumbs _menu_link" href="/">Центр Эстетической Стоматологии</a>

    <h1>Партнёры</h1>

    <p>
      Неотъемлемой частью общей стратегии Центра эстетической стоматологии в области 
      развития и продвижения, является программа лояльности клиентов, направленная 
      на повышение эффективности взаимодействия с клиентами, с целью предложения 
      каждому из них уникального продукта или услуги. Среди наших партнеров крупнейшие 
      российские и зарубежные компании, все они много лет доверяют нашей 
      компетентности и качеству сервиса.
    </p>

    <p class="marketing_contacts">
      Отдел рекламы и продвижения: <a class="_link_black" href="mailto:ces_marketing@mail.ru">ces_marketing@mail.ru</a> 
    </p>

  </div>

  <div class="content_block partners_logo_container swiper-container">

    <div class="swiper-wrapper">

      <a class="partners_logo_item swiper-slide _menu_link_no_borders" href="/">
        <img src="/img/partners-logo/renaissance_logo.svg" alt="">
      </a>

      <a class="partners_logo_item swiper-slide _menu_link_no_borders" href="/">
        <img src="/img/partners-logo/rosbank_logo.svg" alt="">
      </a>

      <a class="partners_logo_item swiper-slide _menu_link_no_borders" href="/">
        <img src="/img/partners-logo/open_bank_logo.svg" alt="">
      </a>

      <a class="partners_logo_item swiper-slide _menu_link_no_borders" href="/">
        <img src="/img/partners-logo/binbank_logo.svg" alt="">
      </a>

      <a class="partners_logo_item swiper-slide _menu_link_no_borders" href="/">
        <img src="/img/partners-logo/kapital_logo.svg" alt="">
      </a>

      <a class="partners_logo_item swiper-slide _menu_link_no_borders" href="/">
        <img src="/img/partners-logo/allianz_logo.svg" alt="">
      </a>

      <a class="partners_logo_item swiper-slide _menu_link_no_borders" href="/">
        <img src="/img/partners-logo/mdm_bank_logo.svg" alt="">
      </a>

      <a class="partners_logo_item swiper-slide _menu_link_no_borders" href="/">
        <img src="/img/partners-logo/lukoil_logo.svg" alt="">
      </a>

      <a class="partners_logo_item swiper-slide _menu_link_no_borders" href="/">
        <img src="/img/partners-logo/reso_logo.svg" alt="">
      </a>

      <a class="partners_logo_item swiper-slide _menu_link_no_borders" href="/">
        <img src="/img/partners-logo/zetta_logo.svg" alt="">
      </a>

      <a class="partners_logo_item swiper-slide _menu_link_no_borders" href="/">
        <img src="/img/partners-logo/uralsib_logo.svg" alt="">
      </a>

      <a class="partners_logo_item swiper-slide _menu_link_no_borders" href="/">
        <img src="/img/partners-logo/kitfinans_logo.svg" alt="">
      </a>

      <a class="partners_logo_item swiper-slide _menu_link_no_borders" href="/">
        <img src="/img/partners-logo/ingosstrakh_logo.svg" alt="">
      </a>

      <a class="partners_logo_item swiper-slide _menu_link_no_borders" href="/">
        <img src="/img/partners-logo/rosgosstrakh_logo.svg" alt="">
      </a>

      <a class="partners_logo_item swiper-slide _menu_link_no_borders" href="/">
        <img src="/img/partners-logo/rzhd_logo.svg" alt="">
      </a>

      <a class="partners_logo_item swiper-slide _menu_link_no_borders" href="/">
        <img src="/img/partners-logo/nig_logo.svg" alt="">
      </a>

      <a class="partners_logo_item swiper-slide _menu_link_no_borders" href="/">
        <img src="/img/partners-logo/sogaz_logo.svg" alt="">
      </a>

      <a class="partners_logo_item swiper-slide _menu_link_no_borders" href="/">
        <img src="/img/partners-logo/metlife_logo.svg" alt="">
      </a>

      <a class="partners_logo_item swiper-slide _menu_link_no_borders" href="/">
        <img src="/img/partners-logo/alfastrakhovanie_logo.svg" alt="">
      </a>

      <a class="partners_logo_item swiper-slide _menu_link_no_borders" href="/">
        <img src="/img/partners-logo/energogarant_logo.svg" alt="">
      </a>

      <a class="partners_logo_item swiper-slide _menu_link_no_borders" href="/">
        <img src="/img/partners-logo/oralb_logo.svg" alt="">
      </a>

      <a class="partners_logo_item swiper-slide _menu_link_no_borders" href="/">
        <img src="/img/partners-logo/vtb_logo.svg" alt="">
      </a>

      <a class="partners_logo_item swiper-slide _menu_link_no_borders" href="/">
        <img src="/img/partners-logo/ergo_logo.svg" alt="">
      </a>

      <a class="partners_logo_item swiper-slide _menu_link_no_borders" href="/">
        <img src="/img/partners-logo/gazprom_logo.svg" alt="">
      </a>

      <a class="partners_logo_item swiper-slide _menu_link_no_borders" href="/">
        <img src="/img/partners-logo/miel_logo.svg" alt="">
      </a>

    </div>

    <div class="revolver_navigation_wrapper _hidden">

      <div class="swiper-button-prev revolver_navigation"></div>
      <div class="swiper-button-next revolver_navigation"></div>

    </div>

  </div>

  <div class="content_block partners_gifts_container">

    <h2>Подарки от наших партнёров</h2>

    <div class="partners_gifts_wrapper">

      <div class="partners_gifts_item">

        <img src="/img/partners-logo/vtb24_logo.png" alt="">
        
        <p>
          Для держателей карт банка ВТБ 24 «Премимум» и «Привилегия» скидка 10% на все 
          виды стоматологических услуг, а так же сезонные акции для всех клиентов банка.
        </p>

      </div>

      <div class="partners_gifts_item">

        <img src="/img/partners-logo/locobank_logo.png" alt="">

        <p>
          Для всех держателей карт «ЛокоБанк» скидка 15% на все виды стоматологических 
          услуг, а так же сезонные скидки для всех клиентов банка.
        </p>

      </div>

      <div class="partners_gifts_item">

        <img src="/img/partners-logo/reifeisen_bank_logo.png" alt="">

        <p>
          Для всех держателей карт банка «Райффайзен» скидка 10% на все виды 
          стоматологических услуг, а так же сезонные скидки для всех клиентов банка.
        </p>

      </div>

      <div class="partners_gifts_item">

        <img src="/img/partners-logo/585gold_logo.png" alt="">

        <p>
          Дисконтная карта ювелирной сети «585» в подарок.
        </p>

      </div>

      <div class="partners_gifts_item">

        <img src="/img/partners-logo/kaudal_logo.png" alt="">

        <p>
          Дисконтная карта винных бутиков «Каудаль» в подарок.
        </p>

      </div>

      <div class="partners_gifts_item">

        <img src="/img/partners-logo/conquest_logo.png" alt="">

        <p>
          Дисконтная карта часовых салонов «Concuest» в подарок.
        </p>

      </div>

      <div class="partners_gifts_item">

        <img src="/img/partners-logo/belcanto_logo.png" alt="">

        <p>
          Пригласительные билеты на концертные мероприятия в подарок.
        </p>

      </div>

      <div class="partners_gifts_item">

        <img src="/img/partners-logo/ideal_day_logo.png" alt="">

        <p>
          10% скидка на WHITE MENU, рассчитанное на 3 дня после процедуры
          отбеливания зубов. 
        </p>

      </div>

      <div class="partners_gifts_item">

        <img src="/img/partners-logo/lor_center_logo.png" alt="">

        <p>
          10% скидка для всех пациентов Центра Эстетической Стоматологии. 
        </p>

      </div>

    </div>

    <button class="_button _button_light _hidden">Показать еще</button>

  </div>

</div>