<div data-page-type="special_deals_page">

  <div class="content_block title_container">
    
    <div class="breadcrumbs_wrapper">

      <a class="breadcrumbs _menu_link" href="/">Центр Эстетической Стоматологии</a>
      <span class="breadcrumbs _menu_link"> → </span>
      <a class="breadcrumbs _menu_link" href="/specialnoe/">Спецпредложения</a>

    </div>

    <h1>{{deal.deals_title}}</h1>

  </div>

  <div class="content_block deal_wpapper">

    <img src="/img/{{deal.deals_image_back}}" alt="">

    <div class="deal_content">{{deal.deals_content | raw}}</div>

  </div>

</div>