<div data-page-type="special_deals_page">

  <div class="content_block title_container">

    <ul class="breadcrumbs_wrapper" itemscope itemtype="https://schema.org/BreadcrumbList">

      <li class="breadcrumbs_item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        <a class="_menu_link_no_borders" href="/" itemtype="https://schema.org/Thing" itemprop="item">
          <span class="item_name" itemprop="name">Центр Стоматологической Имплантологии</span><span> → </span>
        </a>
        <meta itemprop="position" content="1" />
      </li>

      <li class="breadcrumbs_item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        <a class="_menu_link_no_borders" href="/specialnoe/" itemtype="https://schema.org/Thing" itemprop="item">
          <span class="item_name" itemprop="name"><span class="last_breadcrumb">✅</span> Спецпредложения</span>
        </a>
        <meta itemprop="position" content="2" />
      </li>
      
    </ul>
    
    <h1>{{deal.h1_title | raw}}</h1>

  </div>

  <div class="content_block deal_wpapper">

    <img src="/images/uploaded/deals/{{deal.deals_id}}/{{deal.deals_image_back}}" alt="">

    <div class="deal_content">{{deal.deals_content | raw}}</div>

  </div>

</div>