<div data-page-type="warranty_page">

    <ul class="breadcrumbs_wrapper" itemscope itemtype="https://schema.org/BreadcrumbList">

        <li class="breadcrumbs_item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        <a class="_menu_link_no_borders" href="/" itemtype="https://schema.org/Thing" itemprop="item">
            <span class="item_name" itemprop="name"><span class="last_breadcrumb">✅</span> Центр Стоматологической Имплантологии</span>
        </a>
        <meta itemprop="position" content="1" />
        </li>
        
    </ul>

  <h1>Гарантии на стомато&shy;логические услуги в&nbsp;клиниках ЦЭС</h1>

  <div class="content"><style type="text/css">
  .cwdtable {font-size:12px;color:#333333;width:100%;border-width: 1px;border-color: #729ea5;border-collapse: collapse;}
  .cwdtable th {font-weight: 500;font-size:12px;background:#fff9f0;border-width: 1px;padding: 8px;border-style: solid;border-color: #f7c67e ;}
  .cwdtable tr {background:#ffffff;}
  .cwdtable td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #f7c67e ;}
  .cwdtable th {text-align:center}.cwdtable td{text-align:left}
  .cwdtable tr:hover {background:#f1f4f4;}
  </style>

  <div class="content_block mobile_table">

    <table class="cwdtable" cellspacing="0" cellpadding="1" border="1">
    <thead>
        <tr>
            <th>Предоставляемая услуга</th>
            <th>Срок гарантии</th>
        </tr>
    </thead>
    <tbody>
            <tr>
            <td>Гарантия на имплантат завода-изготовителя</td>
            <td>15 лет</td>
        </tr>
            <tr>
            <td>Дентальные имплантаты<div><i>*при условии посещения стоматолога и гигиениста 2 раза в год для профилактического осмотра и профессиональной гигиены и полировки</i></div></td>
            <td>5 лет</td>
        </tr>
        <tr>
            <td>Несъемные постоянные ортопедические конструкции</td>
            <td>2 года</td>
        </tr>
        <tr>
            <td>Постоянная пломба<div><i>*при условии осмотра и посещения гигиениста 2 раза в год</i></div></td>
            <td>1 год</td>
        </tr>

        <tr>
            <td>Съемные протезы</td>
            <td>6 месяцев</td>
        </tr>
        <tr>
            <td>Лечение и протезирование зубов, на которых ранее были пломбы и коронки, установленные не в наших клиниках</td>
            <td>6 месяцев</td>
        </tr>
        <tr>
            <td>Лечение и постоянное протезирование зубов, каналы которых ранее уже были пролечены не в наших клиниках</td>
            <td>6 месяцев</td>
        </tr>
            <tr>
            <td>Временные ортопедические конструкции</td>
            <td>2 недели</td>
        </tr>
            <tr>
            <td>Временные пломбы</td>
            <td>3 дня</td>
        </tr>
    </tbody>
    </table>

    <p class="clause">В случае, если пациент не закончил лечение по согласованному плану лечения на базе группы клиник «ЦЭС», гарантийные обязательства на все оказанные стоматологические услуги снимаются.</p>

  </div>

</div>