<div class="content_block title_container">
    
  <div class="breadcrumbs_wrapper">

    <a class="breadcrumbs _menu_link" href="/">Центр Эстетической Стоматологии</a>

  </div>

  <h1>Страница не найдена</h1>

  <div class="content_block error_404_image_wrapper">

    <img src="/img/404_visual.svg" alt="">

    <p>
      Запрашиваемая страница не существует. Попробуйте начать с 
      <a href="/">главной страницы</a> или с нужного раздела
    </p>

  </div>

  <div class="content_block servises_container">

    <div class="servises_wrapper">

      <div class="services_item">
        <img class="services_item_img" src="img/teeth-category/therapy_icon.svg" alt="">
        <a class="_menu_link" href="/dent/terapiya">Терапия</a>
      </div>

      <div class="services_item">
        <img class="services_item_img" src="img/teeth-category/protez_icon.svg" alt="">
        <a class="_menu_link" href="/dent/ortoped">Ортопедия</a>
      </div>

      <div class="services_item">
        <img class="services_item_img" src="img/teeth-category/surg_icon.svg" alt="">
        <a class="_menu_link" href="/dent/hirurg">Хирургия</a>
      </div>

      <div class="services_item">
        <img class="services_item_img" src="img/teeth-category/implant_icon.svg" alt="">
        <a class="_menu_link" href="/dent/impl">Имплантология</a>
      </div>

      <div class="services_item">
        <img class="services_item_img" src="img/teeth-category/paradont_icon.svg" alt="">
        <a class="_menu_link" href="/dent/paradot">Парадонтология</a>
      </div>

      <div class="services_item">
        <img class="services_item_img" src="img/teeth-category/ortho_icon.svg" alt="">
        <a class="_menu_link" href="/dent/ortodont">Ортодонтия</a>
      </div>

      <div class="services_item">
        <img class="services_item_img" src="img/teeth-category/anesth_icon.svg" alt="">
        <a class="_menu_link" href="/dent/anestez">Анестезиология</a>
      </div>

      <div class="services_item">
        <img class="services_item_img" src="img/teeth-category/whitening_icon.svg" alt="">
        <a class="_menu_link" href="/dent/withe">Отбеливание</a>
      </div>

    </div>

  </div>

</div>