@import '_mixins';
@import '_colors';
@import 'components/*';
@import '../../node_modules/swiper/swiper.scss';
@import '../../node_modules/swiper/components/pagination/pagination.scss';
@import '../../node_modules/swiper/components/navigation/navigation.scss';
@import '../../node_modules/swiper/components/thumbs/thumbs.scss';
@import '//vendor/twentytwenty-master/scss/twentytwenty.scss';

@font-face {
  font-family: 'Rubik';
  src:  
    // url('/fonts/Rubik.woff2') format('woff2'),
    // url('/fonts/Rubik.woff') format('woff'),
    url('/fonts/Rubik-Regular.ttf') format('truetype'),
    // url('/fonts/Rubik-Black.ttf') format('truetype'),
    // url('/fonts/Rubik-BlackItalic.ttf') format('truetype'),
    url('/fonts/Rubik-Bold.ttf') format('truetype'),
    // url('/fonts/Rubik-BoldItalic.ttf') format('truetype'),
    url('/fonts/Rubik-ExtraBold.ttf') format('truetype'),
    // url('/fonts/Rubik-ExtraBoldItalic.ttf') format('truetype'),
    // url('/fonts/Rubik-Italic.ttf') format('truetype'),
    // url('/fonts/Rubik-LightItalic.ttf') format('truetype'),
    url('/fonts/Rubik-Medium.ttf') format('truetype'),
    // url('/fonts/Rubik-MediumItalic.ttf') format('truetype'),
    url('/fonts/Rubik-SemiBold.ttf') format('truetype');
    // url('/fonts/Rubik-SemiBoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src:  
    url('/fonts/Rubik-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src:  
  url('/fonts/Rubik-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

body{
  font-family: 'Rubik', sans-serif;
	padding: 0;
	margin: 0;
	font-size: 16px;
	line-height: 26px;
	color: $textColor;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
  box-sizing: border-box;
  // background-color: $clrBg;
}

body._popup_mode{
  overflow: hidden !important;
  padding: 0 17px 0 0;

  @include for-notdesc{
    padding: 0 0 0 0;
}
}

.content_block{
  width: 1224px;
  margin: auto;
  position: relative;

  @include for-notdesc{
      width: 100%;
  }
}

*{
  margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;line-height:normal;box-sizing: border-box;
}

input,
button,
textarea {
      appearance: none;
      background-color: unset;
      outline: none;
      border: none;
      border-radius: 0;
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
}

A:link { 
  text-decoration: none;
  color: $textColor;
 } 

A:visited{
  color: #6E69A7;
}

A:hover{
  color: $baseColor;
}

A:link._menu_link{
  border-bottom: 1px solid rgba(120, 47, 64, 0.4);
}

A:visited._menu_link{
  color: $textColor;
}

A:hover._menu_link{
  color: $baseColor;
  border-bottom: 1px solid rgba(120, 47, 64, 1);
}

A:link._menu_link_dashed{
  border-bottom: 1px dashed rgba(120, 47, 64, 0.4);
}

A:visited._menu_link_dashed{
  color: $textColor;
}

A:hover._menu_link_dashed{
  color: $baseColor;
}

A:link._menu_link_dashed_black{
  border-bottom: 1px dashed rgba(51, 54, 56, 0.4);
}

A:visited._menu_link_dashed_black{
  color: $headerBlack;
}

A:hover._menu_link_dashed_black{
  color: $baseColor;;
  border-bottom: 1px dashed rgba(120, 47, 64, 0.4);
}

A:visited._menu_link_no_borders{
  color: $textColor;
}

A:hover._menu_link_no_borders{
  color: $baseColor;
}

A:link._link{
  border-bottom: 1px solid $textColor;
}

A:link._link_dashed{
  border-bottom: 1px dashed rgba(120, 47, 64, 0.4);
}

A:link._link_black{
  color: $headerBlack;
  border-bottom: 1px solid rgba(51, 54, 56, 0.4);
}

A:visited._link_black{
  color: $headerBlack;
  border-bottom: 1px solid rgba(51, 54, 56, 0.4);
}

A:hover._link_black{
  color: $baseColor;
  border-bottom: 1px solid $baseColor;
}

._button{
  cursor: pointer;
  background: linear-gradient(180deg, #F5CE92 0%, #F7C67E 100%);
  border-radius: 52px;
  line-height: 24px;
  color: $headerBlack;
}

._button:hover{
  background: linear-gradient(180deg, #F5DE92 0%, #F7DA7E 100%);
}

._button:active{
  background: linear-gradient(180deg, #F4B048 0%, #E8A33B 100%);
}

._button:disabled{
  background: #DADEE1;
}

._button._button_light{
  border: 1px solid #F7C67E;
  background: transparent;
  padding: 9px 20px 9px 20px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
}

._button._button_light:hover{
  border: 1px solid #F7DA7E;
  background: #FFF9F0;
}

._button._button_light:active{
  border: 1px solid #E8A33B;
  background: #FFF9F0;
}

@include for-mobile{

  ._button._button_light._button_to_all{
  
    border: none;
    background: transparent;
    padding: 0 0 0 0;
  
    span{
      border-bottom: 1px solid $headerBlack;
    }
  }
  
  ._button._button_light._button_to_all:hover{
    border: none;
    background: transparent;
    color: #C73F36;
  
    span{
      border-bottom: 1px solid rgba(120, 47, 64, 0.4);
    }
  }
  
  ._button._button_light._button_to_all:active{
    border: none;
    background: transparent;
  }
}

h1,h2,h3,h4,h5{
  font-family: Rubik;
  font-style: normal;
  font-weight: 300;
}

h1{
  font-size: 60px;
  line-height: 60px;
  color: $baseColor;

  @include for-pad{
    font-size: 54px;
    line-height: 60px;
  }

  @include for-mobile{
    font-size: 36px;
    line-height: 40px;
  }
}

h2{
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 0.01em;

  @include for-pad{
    font-size: 36px;
    line-height: 40px;
  }

  @include for-mobile{
    font-size: 28px;
    line-height: 32px;
  }
}

h3{
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.01em;

  @include for-pad{
    font-size: 28px;
    line-height: 32px;
  }

  @include for-mobile{
    font-size: 24px;
    line-height: 34px;
  }
}

h4{
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.02em;

  @include for-mobile{
    font-size: 20px;
    line-height: 28px;
  }
}

h5{
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
}

._hidden{
  display: none !important;
}

.breadcrumbs{
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
}

.revolver_navigation_wrapper{
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 280px;
  height: 16px;
  margin: 0 auto;
}

.swiper-button-next.revolver_navigation,
.swiper-button-prev.revolver_navigation{
  position: static;
  width: 44px;
  height: 14px;
  margin: 0 0 0 0;
  background: url(/img/arrow_revolver.svg);
  background-size: contain;
  
  &:hover{
    background: url(/img/arrow_revolver_hover.svg);
    background-size: contain;
  }

  &:after{
    content: none;
  }
}

.swiper-button-prev.revolver_navigation{
  transform: rotate(180deg);
}

.medical_specialties_wrapper{
  display: flex;
  flex-flow: row wrap;
  padding: 24px 0 0 0;
}

.medical_speciality{
  cursor: pointer;
  margin: 0 16px 16px 0;
  padding: 12px 16px 12px 16px;
  border: 1px solid #f7c67e;
  border-radius: 4px;
  background: #FFFFFF;
  text-transform: capitalize;

  span{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: $headerBlack;
  }

  &:hover,
  &._active{
    background: #f7c67e;
  }

  &:active{
    background: #E8A33B;
  } 
}

.read_more{
  cursor: pointer;
  padding: 4px 0 0 0;
  border-bottom: 1px dashed rgba(120, 47, 64, 0.4);
  color: $headerBlack;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.diagonal_navigation{
  position: absolute;
  width: 112px;
  height: 48px;
  padding: 16px 0 0 20px;
  color: #FFFFFF;
  z-index: 5;

  .swiper-button-next._diagonal_navigation{
    top: 50px;
    right: -16px;
  }

  .swiper-button-prev._diagonal_navigation{
    top: 24px;
  }

  p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.02em;
  }

  .current_slide{
    position: absolute;
    top: 0;
    left: 46px;
  }

  .total_slides{
    position: absolute;
    top: 25px;
    left: 72px;
  }

  &:after{
    content: '';
    width: 48px;
    border-top: 1px solid #FFFFFF;
    position: absolute;
    top: 20px;
    left: 48px;
    transform: rotate(-45deg);
  }

}

.swiper-button-next._diagonal_navigation,
.swiper-button-prev._diagonal_navigation{
  width: 28px;
  height: 14px;
  background: url(/img/arrow_diagonal_nav.svg);

  &:before,
  &:after{
    content: none;
  }
}

.swiper-button-prev._diagonal_navigation{
  transform: rotate(180deg);
}

@include for-mobile{

  .diagonal_navigation{
    display: flex;
    flex-flow: row nowrap;
    height: 20px;
    color: $headerBlack;

    &:after{
      top: 9px;
      left: 48px;
      width: 20px;
      border-top: 1px solid $headerBlack;
    }

    span{
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.02em;
    }
    
    .swiper-button-next._diagonal_navigation{
      top: 27px;
      left: 93px;
    }
    
    .swiper-button-prev._diagonal_navigation{
      top: 27px;
      left: 0;
    }

    .swiper-button-next._diagonal_navigation,
    .swiper-button-prev._diagonal_navigation {
      width: 24px;
      height: 6px;
      background: url(/img/arrow_diagonal_nav_mobile.svg);
      background-size: contain;
      background-repeat: no-repeat;
    }
    
    .current_slide{
      left: 32px;
    }
    
    .total_slides{
      top: 0;
      left: 67px;
    }
    
    br{
      display: none;
    }
    
    .diagonal_navigation_bg{
      display: none;
    }
  }
}
