<div class="content_block doctor_work_example" data-type="two_level_gallery">

  <div class="swiper-container doctor_work_wrapper">

    <div class="swiper-wrapper">

    {{ draft | raw }}

    </div>

    <div class="swiper-pagination revolver_pagination"></div>

    <div class="revolver_navigation_wrapper">
      <div class="swiper-button-prev revolver_navigation"></div>
      <div class="swiper-button-next revolver_navigation"></div>
    </div>

  </div>

</div>